{#
    portal/_change_password_form
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    This macro renders a change password formular.

    :copyright: 2007 by Christopher Grebs.
    :license: GNU GPL.
#}
<form action="" method="post">
  <dl>
    <dt>Altes Passwort:</dt>
    <dd>{{ form.old_password }}{{ h.field_errors(form.errors.old_password) }}</dd>
    <dt>Neues Passwort:</dt>
    <dd>{{ form.new_password }}{{ h.field_errors(form.errors.new_password) }}</dd>
    <dd class="new_password"><a href="{{ href('portal', 'usercp', 'password', random=true) }}">Zufälliges Passwort</a></dd>
    <dd>
      <input type="reset" value="Zurücksetzen" />
      <input type="submit" value="Passwort ändern" />
    </dd>
  </dl>
  <script type="text/javascript">
    (function () {
      $('dd.new_password a')
        .click(function() {
          $.getJSON('/?__service__=portal.get_random_password', function(data) {
            $('dd input#id_new_password')
              .attr('value', data.password);
          })
          return false;
        });
    })();
  </script>
</form>
