{#
    portal/usercp/change_password.html
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    This page dispalys a form where the user can change his password.

    :copyright: 2007 by Christopher Grebs, Benjamin Wiegand.
    :license: GNU GPL.
#}

{%- extends 'portal/usercp/overall.html' %}
{% from 'macros.html' import render_form %}
{% title_trace = ['Passwort ändern'] %}
{% selected = 'password' %}

{% block appheader %}
  <h1>Verwaltung</h1>
  <h2>Passwort ändern</h2>
{% endblock %}
{% block portal_content %}
  <h3>Passwort ändern</h3>
  <form action="" method="post">
    <p>
      Hier kannst du das Passwort für deinen Account ändern.<br />
      Zur Sicherheit musst du dafür noch einmal dein altes Passwort angeben.
    </p>
    {{ render_form(form, ['old_password', 'new_password', 'new_password_confirm']) }}
    <p>
      {%- if random_pw %}
      Generiertes Passwort: <code id="random_password">{{ random_pw }}</code> |
      {%- endif %}
      <a href="{{ href('portal', 'usercp', 'password', random='true') }}" id="random_password_link">
        {%- if random_pw %}
        anderes generieren
        {%- else %}
        Zufälliges Passwort generieren
        {%- endif %}
      </a>
    </p>
    <p>
      <input type="submit" value="Passwort ändern" />
    </p>
    <script type="text/javascript">
    /*<![CDATA[*/
      (function () {
        $('#random_password_link')
          .click(function() {
            $.getJSON('/?__service__=portal.get_random_password', function(data) {
              $('#id_new_password')
                .attr('value', data.password);
              $('#id_new_password_confirm')
                .attr('value', data.password);
              if ( ! $('#random_password').length )
              {
              $('#random_password_link')
                .html('anderes generieren')
                .before('Generiertes Passwort: <code id="random_password">' + 
                        '</code> | ');
              }
              $('#random_password').html(data.password);
            })
            return false;
          });
          })();
    /*]]> */
    </script>
  </form>

  {{ h.render_change_password_form(form) }}
{% endblock %}
