{#
    portal/usercp/change_password.html
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    This page dispalys a formular where the user can change his password.

    :copyright: 2007 by Christopher Grebs.
    :license: GNU GPL.
#}

{% extends 'portal/usercp/overall.html' %}
{% set title_trace = ['Passwort ändern'] %}
{% set selected = 'password' %}


{% block appheader %}
  <h1>Verwaltung</h1>
  <h2>Passwort ändern</h2>
{% endblock %}
{% block portal_content %}
  {{ h.render_change_password_form(form) }}
{% endblock %}
