{#
    portal/usercp/deactivate.html
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    On this page the user can deactivate his account.

    :copyright: 2007 by Benjamin Wiegand.
    :license: GNU GPL.
#}

{% extends 'portal/usercp/overall.html' %}
{% title_trace = ['Benutzer deaktivieren'] %}
{% selected = 'deactivate' %}

{% block appheader %}
  <h1>Verwaltung</h1>
  <h2>Benutzer deaktivieren</h2>
{% endblock %}
{% block portal_content %}
  <h3>Benutzer deaktivieren</h3>
  <p>
    Hier kannst du deinen Benutzer „{{ USER.username|e }}“ deaktivieren.
    Dabei werden alle deine persönlichen Daten gelöscht und dein Benutzername unkenntlich gemacht. Die Beiträge, die du im Forum geschrieben hast, sowie deine Wikiartikel bleiben allerdings aus Gründen der Übersichtlichkeit erhalten.
  </p>
  <strong>Bitte beachte, dass die Deaktivierung endgültig ist und nicht wieder rückgängig gemacht werden kann. Danach wirst du dich nie wieder mit dem Benutzer „{{ USER.username|e }}“ anmelden können.</strong>
  <form method="post" action="">
    <p>Um deinen Account zu deaktivieren, musst du hier zur Sicherheit nocheinmal dein Passwort eingeben:</p>
    <p>
      {{ form.password_confirmation }}
      <input type="submit" value="Benutzer „{{ USER.username|e }}“ deaktivieren" />
      {{- h.field_errors(form.errors.password_confirmation) }}
    </p>
  </form>
{% endblock %}
