{#
    portal/usercp/index.html
    ~~~~~~~~~~~~~~~~~~~~~~~~

    This page shows the user control panel index page.

    :copyright: 2007 by Christopher Grebs, Benjamin Wiegand.
    :license: GNU GPL.
#}

{% extends 'portal/usercp/overall.html' %}

{% macro usercp_button(link, icon, name) %}
  <li>
    <span><a href="{{ link }}">
      <img src="{{ href('static', 'img/usercp/usercp-%s.png'|format(icon)) }}" alt="{{ name }}" /><br />
      {{ name }}
    </a></span>
  </li>
{% endmacro %}

{% block portal_content %}
  <div class="usercp_control">
    <ul>
      {{ usercp_button(href('portal', 'usercp', 'profile'), 'profile', 'Profilinformationen') }}
      {{ usercp_button(href('portal', 'usercp', 'settings'), 'preferences', 'Benutzereinstellungen') }}
      {{ usercp_button(href('portal', 'usercp', 'password'), 'password', 'Passwort ändern') }}
      {{ usercp_button(href('portal', 'usercp', 'subscriptions'), 'subscriptions', 'Benachrichtigungen') }}
      {{ usercp_button(href('portal', 'usercp', 'deactivate'), 'deactivate', 'Benutzer deaktivieren') }}
      {{ usercp_button(href('wiki', 'Benutzer', user.username|e, action='edit'), 'wikipage', 'Benutzerseite') }}
    </ul>
  </div>
{% endblock %}
