{#
    portal/usercp/settings.html
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~

    This page shows the user control panel settings page.

    :copyright: 2007 by Christopher Grebs, Benjamin Wiegand.
    :license: GNU GPL.
#}

{% extends 'portal/usercp/overall.html' %}
{% set title_trace = ['Benutzereinstellungen'] %}
{% set scripts = ['WikiEditor.js'] %}
{% set styles = ['editor.css'] %}
{% set selected = 'profile' %}

{% block portal_content %}
<form enctype="multipart/form-data" class="usercp_form" method="post" action="">
  <h3>Profileinstellungen</h3>
  <dl>
    <dt>Avatar:</dt>
    <dd><img class="usercp_avatar" src="{{ user.avatar_url }}" alt="Avatar" /></dd>
    <dd>{{ form.avatar }}</dd>
    <dd class="note">
      Beachte, dass der Avatar maximal <strong>{{ SETTINGS.AVATAR_SIZE[0] }} x {{ SETTINGS.AVATAR_SIZE[1] }}</strong> Pixel groß sein darf.<br />
      Alles, was größer ist, wird automatisch auf diese Größe skaliert.<br />
      Um also eine gute Bildqualität zu erreichen, darf der Avatar diese Größe nicht überschreiten.
    </dd>
    <dd>{{ form.delete_avatar }} Aktuellen Avatar löschen</dd>
    <dd>{{ h.field_errors(form.errors.avatar) }}{{ h.field_errors(form.errors.delete_avatar) }}</dd>
    {{ h.render_form(form, 'email', 'jabber', 'icq', 'msn', 'aim', 'yum', inline=true) }}
  </dl>
  <h3>Sonstige Einstellungen</h3>
  {{ h.render_form(form, 'location', 'occupation', 'interests', 'website',
                         'gpgkey') }}
  <h3>Signatur</h3>
  <p class="note">
    Dieser Text wird an jeden Beitrag von dir angehängt.<br />
    Er darf nicht mehr als {{ SETTINGS.SIGNATURE_LENGTH }} Zeichen enthalten.
  </p>
  <p>
    {{ form.signature }}
    <script type="text/javascript">
      var editor = new WikiEditor('textarea[@name="signature"]')
    </script>
  </p>
  {{ h.field_errors(form.errors.signature) }}
  <p>
    <input type="submit" value="Absenden" />
  </p>
</form>
{% endblock %}
