{#
    portal/usercp/settings.html
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~

    This page shows the user control panel settings page.

    :copyright: 2007 by Christopher Grebs, Benjamin Wiegand.
    :license: GNU GPL.
#}

{% extends 'portal/usercp/overall.html' %}
{% set title_trace = ['Benutzereinstellungen'] %}
{% set scripts = ['WikiEditor.js'] %}
{% set styles = ['editor.css'] %}
{% set selected = 'settings' %}

{% block portal_content %}
<form enctype="multipart/form-data" class="usercp_form" method="post" action="">
  <h3>Benutzereinstellungen</h3>
  <dl>
    {{ h.render_form(form, 'notify', 'notifications', 'timezone', inline=true) }}
    <dt>Oberfläche</dt>
    <dd>{{ form.hide_avatars }} <label for="id_hide_avatars">{{ form.hide_avatars.label }}</label>
        {{ h.field_errors(form.errors.hide_avatar) }}</dd>
    <dd>{{ form.hide_signatures }} <label for="id_hide_signatures">{{ form.hide_signatures.label }}</label>
        {{ h.field_errors(form.errors.hide_signatures) }}</dd>
  </dl>
  <p>
    <input type="submit" value="Speichern" />
  </p>
</form>
{% endblock %}
