{#
    portal/usercp/subscriptions.html
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    This page shows all subscriptions of the user and let him
    manage them.
    
    :copyright: 2007 by Christopher Grebs.
    :license: GNU GPL.
#}

{%- extends 'portal/usercp/overall.html' %}
{% set title_trace = ['Benachrichtigungen'] %}
{% set selected = 'subscriptions' %}


{% block appheader %}
  <h1><a href="{{ href('portal', 'usercp') }}">Kontrollzentrum</a></h1>
  <h2><a href="{{ href('portal', 'usercp', 'subscriptions') }}">Benachrichtigungen</a></h2>
{% endblock %}
{% block portal_content %}
<h3>Abonnements <span class="note">(<a href="{{ href('portal', 'usercp', 'settings') }}">erweiterte Einstellungen</a>)</span></h3>
<form class="usercp_form" method="post" action="">
  <table class="usercp_subscriptions">
    <tr>
      <th class="first">Name</th>
      <th class="second delete_abbos">Abonnement löschen</th>
    </tr>
    {%- for sub in subscriptions %}
    <tr>
      <td class="first">
        {%- if sub.topic -%}
        Thema: <a href="{{ sub.topic|url }}">{{ sub.topic.title|e }}</a>
        {%- elif sub.wiki_page -%}
        Wiki-Seite: <a href="{{ sub.wiki_page|url }}">{{ sub.wiki_page.title|e }}</a>
        {%- elif sub.forum -%}
        Forum: <a href="{{ sub.forum|url }}">{{ sub.forum.name|e }}</a>
        {%- endif -%}
      </td>
      <td class="second"><input type="checkbox" name="delete" value="{{ sub.id }}" /></td>
    </tr>
    {%- else %}
    <tr>
      <td colspan="2">
        Du hast bisher noch keine Themen oder Artikel abonniert
      </td>
    </tr>
    {%- endfor %}
    <tr>
      <td colspan="2">
        {{ pagination }}
        <a href="{{ href('portal', 'usercp', 'subscriptions', 'all') }}">Alle Abonnements auf einer Seite anzeigen</a>
      </td>
    </tr>
  </table>
  <div>
    <input type="submit" value="Änderungen bestätigen" />
  </div>
</form>
<script type="text/javascript">
  /* <![CDATA[ */
  var all_checked = false;
  $('table.usercp_subscriptions th.delete_abbos').click(function() {
    $('input[@name="delete"]').each(function() {
      if (all_checked)
        this.checked = false;
      else
        this.checked = true;
    });
    if (all_checked)
      all_checked = false;
    else
      all_checked = true;
  });
  /* ]]> */
</script>
{% endblock %}
