{#
    portal/login.html
    ~~~~~~~~~~~~~~~~~

    This page displays a formular where the user can log in.

    :copyright: 2007-2008 by Benjamin Wiegand, Marian Sigler.
    :license: GNU GPL.
#}


  <form action="" method="post" class="loginform">
    <dl>
      {{ h.render_form(form, 'username', 'password', inline=true) }}
      <dd>
        {{ form.permanent }} <label for="id_permanent">{{ form.permanent.label }}</label>
        <div class="help_text">Wähle dies nicht aus, wenn du dich von einem öffentlichen
          Computer aus anmeldest, da sonst andere Zugriff auf deinen Benutzer erhalten
          können.</div>
      </dd>
    </dl>
    <div class="actions">
      <input type="hidden" name="redirect" value="" />
      <input type="submit" id="login" value="Login" />
    </div>

  </form>

  <script type="text/javascript">
//    if ( $('#id_username')[0].value )
//        $('#id_password').select().focus();
//    else 
  $('#id_username')[0].select();
  $('#id_username')[0].focus();
  </script>
