{#
    portal/_lost_password_form
    ~~~~~~~~~~~~~~~~~~~~~~~~~~

    This macro renders the lost password formular.

    :copyright: 2007 by Christopher Grebs.
    :license: GNU GPL.
#}
<form action="" method="post">
  <dl>
    <dt>Benutzername:</dt>
    <dd>{{ form.username }}{{ h.field_errors(form.errors.username) }}</dd>
    <dt>E-Mail:</dt>
    <dd>{{ form.email }}{{ h.field_errors(form.errors.email) }}</dd>
    <dt>CAPTCHA</dt>
    <dd>{{ form.hidden_captcha }}</dd>
    <dd class="captcha"><img src="{{ href('portal', '_captcha') }}" alt="XXX: Hinweis auf Audio Version" />
        <a href="/lost_password/">neues Captcha erzeugen</a></dd>{# XXX: better non-js solution (keep the stuff entered above) #}
    <dd>Bitte gib den Code von obigem Bild hier ein:</dd>
    <dd>{{ form.captcha }}{{ h.field_errors(form.errors.captcha) }}</dd>
    <dd>
      <input type="submit" value="Neues Passwort schicken" />
    </dd>
  </dl>
  <script type="text/javascript">
    (function() {
      var captcha_url = $('dd.captcha img').attr('src');
      $('dd.captcha a')
        .click(function() {
          var uid = Math.random().toString().substring(2, 10);
          $('dd.captcha img')
            .attr('src', captcha_url + '#rnd-' + uid);
          return false;
        });
    })();
  </script>
</form>
