{#
    portal/_render_form
    ~~~~~~~~~~~~~~~~~~~

    This macro renders the error list of a django newforms field to a html
    list.
    :Parameters:

        errors
            The list of validation errors.

    :copyright: 2007 by Benjamin Wiegand.
    :license: GNU GPL.
#}
{% if not inline %}
<dl>
{% endif %}
  {%- for field in fields %}
  {%- if form[field] %}
  <dt>
    <label for="{{ form[field].auto_id }}">{{ form[field].label }}:</label>
  </dt>
  <dd>
    {{ form[field] }} {{ h.field_errors(form.errors[field]) }}
    {%- if form[field].help_text %}
    <p class="note">{{ form[field].help_text }}</p>
    {%- endif %}
  </dd>
  {%- endif %}
  {%- endfor %}
{% if not inline or last %}
</dl>
{% endif %}
