{#
    portal/calendar_detail.html
    ~~~~~~~~~~~~~~~~~~~~

    Show a single event, header etc. part

    :copyright: 2008 by Marian Sigler.
    :license: GNU GPL.
#}

{%- extends 'portal/overall.html' %}
{% title_trace = [event.name|e, 'Kalender'] %}
{% styles = styles|default([]) + ['calendar.css'] %}
{% navigation_trace =  [
    (href('portal', 'calendar'), 'Kalender'),
    (href('portal', 'calendar', event.date.year, '%02d' % event.date.month), '%s %d' % (MONTHS[event.date.month], event.date.year)),
    (event|url, event.name|e),
  ] + navigation_trace|default([]) %}
{% block appheader %}
  <h1>Kalender</h1>
  <h2>{{ event.name|e }}</h2>
{% endblock %}
{% block portal_content %}

<h3>Veranstaltung „{{ event.name|e }}“</h3>
{{ rendertemplate("portal/_calendar_detail.html") }}
{% endblock %}
