{#
    portal/calendar_overview.html
    ~~~~~~~~~~~~~~~~~~~~

    Show the next few events.

    :copyright: 2008 by Marian Sigler.
    :license: GNU GPL.
#}

{%- extends 'portal/overall.html' %}
{% set title_trace = ['Kalender'] %}
{% set styles = ['calendar.css'] %}
{% block appheader %}
  <h1><a href="{{ href('portal', 'calendar') }}">Kalender</a></h1>
  <h2>Übersicht</h2>
{% endblock %}
{% block portal_content %}
<ul class="switcher">
  {%- for y in range(year - 2, year + 3) %}
  {% if y == year %}<li class="active"><a href="/calendar/{{ y }}/{{ '%02d' % month }}/">{{ y }}</a></li>
  {%- else %}<li><a href="/calendar/{{ y }}/{{ '%02d' % month }}/">{{ y }}</a></li>
  {%- endif %}
  {%- endfor %}
</ul>
<ul class="switcher">
  {%- for i in MONTHS %}
  {% if i == month %}<li class="active"><a href="/calendar/{{ year }}/{{ '%02d' % i }}/">{{ MONTHS[i]|e }}</a></li>
  {%- else %}<li><a href="/calendar/{{ year }}/{{ '%02d' % i }}/">{{ MONTHS[i]|e }}</a></li>
  {%- endif %}
  {%- endfor %}
</ul>
<br />

<h3>die nächsten Termine</h3>
<ul class="events">
  {% for event in events %}
  <li>{{ event.friendly_title(with_html_link=true) }}</li>
  {%- endfor %}
</ul>


{% endblock %}
