{#
    portal/calendar.html
    ~~~~~~~~~~~~~~~~~~~~

    This page shows all dates of a special month.

    :copyright: 2007 by Benjamin Wiegand.
    :license: GNU GPL.
#}

{% extends 'portal/overall.html' %}
{% title_trace = ['Kalender'] %}
{% block appheader %}
  <h1>Portal</h1>
  <h2>Kalender</h2>
{% endblock %}
{% block portal_content %}
<h3>Kalender</h3>
<a href="{{ href(*prev) }}">Vorheriger Monat</a> <a href="{{ href(*next) }}">Nächster Monat</a>
<table class="calendar">
  {%- for changed, date in watchchanges(dates, 'date', 'day') %}
  <tr>
    {%- if changed %}
    <td class="day">
      {{ date.date.strftime('%A, %d. %B') }}
    </td>
    {%- else %}
    <td class="noday"></td>
    {%- endif %}
    <td class="time">
      {{ date.date.strftime('%H:%M') }}
    </td>
    <td>
      {{ date.rendered_description }}
    </td>
  </tr>
  {%- endfor %}
</table>
{% endblock %}
