{#
    portal/grouplist.html
    ~~~~~~~~~~~~~~~~~~~~~

    This page shows all existing groups.

    :copyright: 2007 by Benjamin Wiegand.
    :license: GNU GPL.
#}

{%- extends 'portal/overall.html' %}
{% set title_trace = ['Gruppen'] %}
{% block appheader %}
  <h1><a href="{{ href('portal') }}">Portal</a></h1>
  <h2><a href="{{ href('portal', 'groups') }}">Gruppenliste</a></h2>
{% endblock %}
{% block content %}
  <h3>Gruppen</h3>
  <p>
    Insgesamt gibt es
    {% trans count=group_count -%}
      <strong>{{ count }}</strong> Gruppe
    {%- pluralize -%}
      <strong>{{ count }}</strong> Gruppen
    {%- endtrans %} von denen du in <strong>{{ user_groups.count() }}</strong> Mitglied bist (fett gedruckt).
  </p>
  <table>
    <tr>
      <th>{{ table.get_html('id', '#') }}</th>
      <th>{{ table.get_html('name', 'Name') }}</th>
    </tr>
    {%- for group in groups %}
    <tr>
      <td>{{ group.id }}</td>
      <td{% if not group.is_public %} class="hidden"{% endif %}>
        {%- if group in user_groups %}<strong>{% endif -%}
        <a href="{{ group|url }}">{{ group.name|e }}</a>
        {%- if group in user_groups %}</strong>{% endif -%}
      </td>
    </tr>
    {%- endfor %}
  </table>
  {{ pagination.generate() }}
{% endblock %}
