{#
    portal/memberlist.html
    ~~~~~~~~~~~~~~~~~~~~~~

    This page shows all registered users.

    :copyright: 2007 by Benjamin Wiegand.
    :license: GNU GPL.
#}

{%- extends 'portal/overall.html' %}
{% set title_trace = [group.name|e] %}
{% block appheader %}
  <h1><a href="{{ href('portal') }}">Portal</a></h1>
  <h2><a href="{{ url_for(group) }}">{{ group.name|e }}</a></h2>
{% endblock %}
{% block content %}
  <h3>{{ group.name|e }}</h3>
  <p>
    Die Gruppe „{{ group.name|e }}“ hat insgesamt
    {%- trans count=user_count %}
      <strong>{{ count }}</strong> Mitglied:
    {%- pluralize %}
      <strong>{{ count }}</strong> Mitglieder:
    {%- endtrans %}
  </p>
  <table>
    <tr>
      <th>{{ table.get_html('id', '#') }}</th>
      <th>{{ table.get_html('username', 'Benutzername') }}</th>
      <th>{{ table.get_html('location', 'Wohnort') }}</th>
      <th>{{ table.get_html('date_joined', 'Anmeldungsdatum') }}</th>
      <th>{{ table.get_html('post_count', 'Beiträge') }}</th>
    </tr>
    {%- for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>
        <a href="{{ user|url }}">{{ user.username|e }}</a></td>
      <td>{{ user.location }}</td>
      <td>{{ user.date_joined.strftime('%d.%m.%Y, %H:%M') }}</td>
      <td>{{ user.post_count }}</td>
    </tr>
    {%- endfor %}
  </table>
  {{ pagination.generate() }}
{% endblock %}
