{#
    portal/login.html
    ~~~~~~~~~~~~~~~~~

    This page displays a formular where the user can log in.

    :copyright: 2007 by Benjamin Wiegand.
    :license: GNU GPL.
#}

{% extends 'portal/overall.html' %}
{% from 'macros.html' import render_form %}
{% styles = styles|default([]) + ['login.css'] %}
{% title_trace = ['Login'] %}
{% block appheader %}
  <h1>Portal</h1>
  <h2>Login</h2>
{% endblock %}
{% block portal_content %}
  <h3>Login</h3>
  {%- if cookie_error %}
  <div class="errors">
    Aus Gründen der Sicherheit müssen Cookies im Browser aktiviert sein um
    sich auf ubuntuusers.de anzumelden.  Bitte aktiviere Cookies im Browser
    und klicke auf <a href="{{ retry_link|e }}">fortfahren</a>.
  </div>
  <p>
    Nähere Informationen zu Cookies finden sich in
    <a href="/datenschutz/">der Datenschutzerklärung</a>.
  </p>
  {%- else %}
  <p>
    Hier kannst du dich mit deinem Benutzer anmelden, wenn du dich schon 
    <a href="{{ href('portal', 'register') }}">registriert hast</a>.
    Falls du dein Passwort vergessen hast, kannst du dir <a href="
    {{- href('portal', 'lost_password') }}">ein neues zuschicken lassen</a>.
  </p>
  {%- if failed %}
  {%- if not inactive and not banned %}
  <div class="errors">
    Du konntest nicht eingeloggt werden, da das Passwort für den Benutzer
    „{{ username|e }}“ falsch war oder der Benutzer nicht existiert.
  </div>
  {%- elif banned %}
  <div class="errors">
    Du konntest nicht eingeloggt werden, da der Benutzer „{{ username|e }}“
    derzeit gebannt ist.<br />
    Du wurdest darüber weitgehend informiert.
    Solltest du dem nicht zustimmen oder ein Irrtum vorliegen so schreibe
    bitte eine Nachtricht an ... {# XXX: E-Mail #}
  </div>
  {%- else %}
  <div class="errors">
    Du konntest nicht eingeloggt werden, da der Benutzer „{{ username|e  }}“
    derzeit inaktiv ist. Das liegt wahrscheinlich daran, dass du den
    Aktivierungslink in der Bestätigungsmail, die dir nach der
    Registrierung zugeschickt wurde, nicht aufgerufen hast. Solltest du
    diese Mail nicht bekommen haben, kannst du sie <a href="
    {{- href('portal', 'register', 'resend', username) -}}
    ">erneut anfordern</a>. Falls es weiterhin nicht funktioniert, schreibe
    bitte eine Nachricht an ... {# XXX: E-Mail #}
  </div>
  {%- endif %}
  {%- endif %}
  <form action="" method="post" class="loginform">
    <dl>
      {{ render_form(form, ['username', 'password'], inline=true) }}
      <dd>
        {{ form.permanent }} <label for="id_permanent">{{ form.permanent.label }}</label>
        <div class="help_text">Wähle dies nicht aus, wenn du dich von einem öffentlichen
          Computer aus anmeldest, da sonst andere Zugriff auf dein Benutzerkonto erhalten
          können.</div>
      </dd>
    </dl>
    <div class="actions">
      <input type="hidden" name="redirect" value="" />
      <input type="submit" id="login" value="Login" />
    </div>

  </form>

  <script type="text/javascript">
    if ( $('#id_username')[0].value )
      $('#id_password').select().focus();
    else 
      $('#id_username')[0].focus();
  </script>
  {%- endif %}
{% endblock %}
