{#
    portal/login.html
    ~~~~~~~~~~~~~~~~~

    This page displays a formular where the user can log in.

    :copyright: 2007 by Benjamin Wiegand.
    :license: GNU GPL.
#}

{% extends 'portal/overall.html' %}
{%- set styles = styles + ['login.css'] -%}
{% set title_trace = ['Login'] %}
{% block appheader %}
  <h1>Portal</h1>
  <h2>Login</h2>
{% endblock %}
{% block portal_content %}
  {% if failed %}
    {% if not inactive %}
    <div class="message fail">
      Du konntest nicht eingeloggt werden, da das Passwort für den Benutzer
      „{{ username|e }}“ falsch war oder der Benutzer nicht existiert.
    </div>
    {% else %}
    <div class="message fail">
      Du konntest nicht eingeloggt werden, da der Benutzer „{{ username|e
      }}“ derzeit inaktiv ist. Das liegt wahrscheinlich daran, dass du den
      Aktivierungslink in der Bestätigungsmail, die dir nach der
      Registrierung zugeschickt wurde, nicht aufgerufen hast. Solltest du
      diese Mail nicht bekommen haben, kannst du sie <a href="
      {{- href('portal', 'register', 'resend', username) -}}
      ">erneut anfordern</a>. Falls es weiterhin nicht funktioniert, schreibe
      bitte eine Nachricht an ... {# XXX: E-Mail #}
    </div>
    {% endif %}
  {% endif %}
  {% if cookie_error %}
    <div class="message fail">
      Aus Gründen der Sicherheit müssen Cookies im Browser aktiviert sein um
      sich auf ubuntuusers.de anzumelden.  Bitte aktiviere Cookies im Browser
      und klicke auf <a href="{{ retry_link|e }}">fortfahren</a>.
    </div>
    <p>
      Nähere Informationen zu Cookies finden sich in
      <a href="/datenschutz/">der Datenschutzerklärung</a>.
    </p>
  {% else %}
  <form action="" method="post" class="loginform">
    <dl>
      <dt><label for="id_username">{{ form.username.label }}</label></dt>
      <dd class="input">{{ form.username }}{{ form.errors.username }}</dd>

      <dt><label for="id_password">{{ form.password.label }}</label></dt>
      <dd class="input">{{ form.password }}{{ form.errors.password }}</dd>

      <dd>{{ form.permanent }} <label for="id_permanent">{{ form.permanent.label }}</label></dd>
    </dl>
    <div class="actions">
      <input type="hidden" name="redirect" value="" />
      <input type="submit" id="login" value="Login" />
    </div>

  </form>
  <dl>
    <dt>Weitere Aktionen</dt>
      <dd>
      <ul>
        <li><a href="{{ href('portal', 'register') -}}">Noch nicht registriert?</a></li>
        <li><a href="{{ href('portal', 'lost_password') }}">Passwort oder Benutzername vergessen?</a></li>
      </ul>
      </dd>
  </dl>
  <script type="text/javascript">
    $(function() { $('#id_username').focus(); });
  </script>
  {% endif %}
{% endblock %}
