{#
    portal/lost_password
    ~~~~~~~~~~~~~~~~~~~~

    This page displays a formular where the user can create a new password
    if he lost the old one.

    :copyright: 2007 by Christopher Grebs.
    :license: GNU GPL.
#}

{% extends 'portal/overall.html' %}
{% set title_trace = ['Passwort vergessen'] %}
{% block appheader %}
  <h1>Portal</h1>
  <h2>Passwort vergessen</h2>
{% endblock %}
{% block portal_content %}
  <p>
    Mit folgendem Formular kannst du dir ein neues Passwort zuschicken lassen, wenn du dein Altes vergessen hast.
    Nachdem du es ausgefüllt hast, bekommst du eine Bestätigungs-E-Mail zugeschickt.
  </p>
  {{ h.render_lost_password_form(form) }}
{% endblock %}
