{#
    portal/register.html
    ~~~~~~~~~~~~~~~~~~~~

    This page displays a formular where the user can register a new account.

    :copyright: 2007 by Christopher Grebs.
    :license: GNU GPL.
#}

{% extends 'portal/overall.html' %}
{% set title_trace = ['Registrieren'] %}
{% block appheader %}
  <h1>Portal</h1>
  <h2>Registrieren</h2>
{% endblock %}
{% block portal_content %}
  {{ h.render_register_form(form) }}
  <script type="text/javascript">
    $(function() { $('#id_username').focus(); });
  </script>
{% endblock %}
