{#
    portal/register.html
    ~~~~~~~~~~~~~~~~~~~~

    This page displays a formular where the user can register a new account.

    :copyright: 2007 by Christopher Grebs.
    :license: GNU GPL.
#}

{% extends 'portal/overall.html' %}
{% set title_trace = ['Registrieren'] %}
{% block appheader %}
  <h1>Portal</h1>
  <h2>Registrieren</h2>
{% endblock %}
{% block portal_content %}
  {% if cookie_error %}
    <div class="message fail">
      Aus Gründen der Sicherheit müssen Cookies im Browser aktiviert sein um
      sich auf ubuntuusers.de registrieren und anzumelden.  Bitte aktiviere
      Cookies im Browser und klicke auf <a href="{{ retry_link|e }}">fortfahren</a>.
    </div>
    <p>
      Nähere Informationen zu Cookies finden sich in
      <a href="/datenschutz/">der Datenschutzerklärung</a>.
    </p>
  {% else %}
  {{ h.render_register_form(form) }}
  {% endif %}
    <script type="text/javascript">
    $(function() { $('#id_username').focus(); });
  </script>
{% endblock %}
