{#
    portal/search.html
    ~~~~~~~~~~~~~~~~~~

    This page displays an advanced search formular.

    :copyright: 2007 by Christoph Hack.
    :license: GNU GPL.
#}

{%- extends 'portal/overall.html' %}
{% set styles = ['datetimefield.css'] %}
{% set scripts = ['DateTime.js'] %}
{% set title_trace = ['Suche'] %}
{% set title = 'Suche' %}

{% block appheader %}
  <h1><a href="{{ href('portal') }}">Suche</a></h1>
  <h2>Neue Suchabfrage</h2>
{% endblock %}

{% macro search_tab(id, description) %}
  <li id="{{ id }}"{% if area == id %} class="active"{% endif %}>
    <a href="?area={{ id }}">{{ description }}</a>
  </li>
{% endmacro %}

{% block portal_content %}
  <h3>Suche</h3>
  <p>Hier kannst du nach Informationen im gesamten ubuntuusers Portal suchen.
  Die Suche berücksichtigt keine Groß- und Kleinschreibung und mehrere
  Suchausdrücke können mit <strong>UND</strong>, <strong>ODER</strong> sowie
  <strong>UND&nbsp;NICHT</strong> kombiniert werden, wobei gegebenenfalls
  eine Klammer zu setzen ist.</p>
  <span class="search">Suche in:</span>
  <ul class="areas">
   {{ search_tab('all', 'Überall') }}
   {{ search_tab('forum', 'Forum') }}
   {{ search_tab('wiki', 'Wiki') }}
   {{ search_tab('ikhaya', 'Ikhaya') }}
   {{ search_tab('planet', 'Planet') }}
  </ul>
  <form action="{{ href('portal', 'search') }}" method="get" class="search_form">
    <dl>
      <dt>{{ searchform.query.label_tag() }}</dt><dd>{{ searchform.query }}</dd>
      <dt><label for="id_date_begin">Zeitraum:</label></dt>
      <dd>{{ searchform.date_begin }}<span> bis </span>{{ searchform.date_end }}<br />
        <span class="help_text">z.B. <code>2008-12-31</code> oder
        <code>2008-12-31 17:00</code></span></dd>
      <dt>{{ searchform.sort.label_tag() }}</dt><dd>{{ searchform.sort }}</dd>
    </dl>
    <div class="actions">
      {{ searchform.area }}
      <input type="submit" value="Suchen" />
    </div>
  </form>
  <script type="text/javascript">
    $('ul.areas li').click(function() {
      $('ul.areas li').removeClass('active');
      $(this).addClass('active');
      $('#id_area').val($(this).attr('id'));
      return false;
    })
  </script>
{% endblock %}
