{#
    portal/search_results.html
    ~~~~~~~~~~~~~~~~~~~~~~~~~~

    This page displays the search results.

    :copyright: 2007 - 2008 by Benjamin Wiegand.
    :license: GNU GPL.
#}

{%- extends 'portal/overall.html' %}
{% from 'macros.html' import render_form %}
{% set navi_type = 'tabbar' %}
{% set styles = ['datetimefield.css'] %}
{% set scripts = ['DateTime.js'] %}
{% set title = 'Suche' %}
{% set active_app = area %}

{% block appheader %}
  <h1><a href="{{ href('portal', 'search') }}">Suche</a></h1>
  <h2>Ergebnisse für „{{ query|e }}“</h2>
{% endblock %}

{% block portal_content %}
  <h3>Suche</h3>
  <p>Hier kannst du nach Informationen im gesamten ubuntuusers Portal suchen.
  Die Suche berücksichtigt keine Groß- und Kleinschreibung und mehrere
  Suchausdrücke können mit <strong>UND</strong>, <strong>ODER</strong> sowie
  <strong>UND&nbsp;NICHT</strong> kombiniert werden, wobei gegebenenfalls
  eine Klammer zu setzen ist.  Weitere Informationen zur Suche auf ubuntuusers.de findet man im Wiki unter <a href="{{ href('wiki', 'Suchfunktion') }}">Suchfunktion</a>.</p>
  <form action="{{ href('portal', 'search') }}" method="GET" class="search_page">
    <p>{{ searchform.query }}</p>
    <input type="submit" value="Suchen" style="display: none;" />
    <div class="submit">
      {%- if not advanced %}
      <input type="submit" id="expand" name="advanced" value=Erweitert />
      {%- endif %}
      <input type="submit" value="Suchen" />
    </div>
    {{ searchform.area }}
    <br style="clear: both;" />
    <div id="advanced"{% if advanced %} style="display: block;"{% endif %}>
      <dl>
        <dt><label for="id_date_begin">Zeitraum:</label></dt>
        <dd>{{ searchform.date_begin }}<span> bis </span>{{ searchform.date_end }}<br />
          <span class="help_text">z.B. <code>2008-12-31</code> oder
          <code>2008-12-31 17:00</code></span></dd>
        <dt>{{ searchform.sort.label_tag() }}</dt><dd>{{ searchform.sort }}</dd>
      </dl>
      {%- if not (advanced and area not in ('all', 'forum')) %}
      <dl class="search_fields" id="forum_fields">
        {{ render_form(searchform, ['forums'], inline=true) }}
      </dl>
      {%- endif %}
      {%- if not (advanced and area not in ('all', 'wiki')) %}
      <dl class="search_fields" id="wiki_fields">
        {{ render_form(searchform, ['show_wiki_attachments'], inline=true) }}
      </dl>
      {%- endif %}
    </div>
  </form>
  <script>
    $('#expand').click(function() {
      $(this).hide();
      $('#advanced').show();
      return false;
    })
    $('input[name="area"]').each(function(i, elm) {
      $(this).change(function() {
        change_area($(this).val());
      })
    })
    function change_area(id) {
      if (id != 'all') {
        $('dl.search_fields').hide();
        $('#' + id + '_fields').show();
      } else {
        $('dl.search_fields').show();
      }
    }
    change_area('{{ area }}');
  </script>
  <hr class="divider" />
  {%- if query %}
  {% if results.results %}{{ pagination }}{% endif %}
  <ul class="search_results">
    {%- for doc in results.results %}
    <li>
      <h2>
        <img src="{{ href('static', 'img/icons/small/%s.png' % doc.component|lower) }}"
          alt="{{ doc.component }}" title="{{ doc.component }}" />
        <a href="{{ doc.url }}{% if doc.highlight and highlight %}?highlight={{ highlight|urlencode|e }}{% endif %}">
          {{ doc.title }}
        </a>
        {%- if doc.solved %}
        <img src="{{ href('static', 'img/check.png') }}" alt="Gelöst" title="Gelöst" />
        {%- endif %}
      </h2>
      <p class="description">
        {{ doc.excerpt }}
      </p>
      <p class="meta">
        {%- if doc.component in ('Forum', 'Ikhaya') %}
        geschrieben von <a href="{{ doc.user_url }}">{{ doc.user.username|e }}</a> am {{ doc.date.strftime('%d.%m.%Y um %H:%M') }} in <a href="{{ doc.group_url }}">{{ doc.group|e }}</a>
        {%- elif doc.component == 'Wiki' %}
        zuletzt bearbeitet von <a href="{{ doc.user_url }}">{{ doc.user.username|e }}</a> am {{ doc.date.strftime('%d.%m.%Y um %H:%M') }}
        {%- endif %}
      </p>
    </li>
    {%- else %}
    <li class="no_results">Es wurden keine passenden Ergebnisse gefunden.</li>
    {%- endfor %}
  </ul>
  <br />
  {% if results.results %}{{ pagination }}{% endif %}
  <br clear="both" />
  {%- endif %}
{% endblock %}
