{#
    portal/user_error_report
    ~~~~~~~~~~~~~~~~~~~~~~~~

    Enables a user to report an error

    :copyright: 2008 by Marian Sigler.
    :license: GNU GPL.
#}

{%- extends 'portal/overall.html' %}
{% set title_trace = ['Ticket schreiben'] %}
{% set active_app = 'bugs' %}
{% from 'macros.html' import render_form %}

{% block appheader %}
  <h1>Inyoka</h1>
  <h2>Ticket schreiben</h2>
{% endblock %}
{% block portal_content %}
  <h3>Ticket für Inyoka schreiben</h3>
  {%- if spam %}
  <div>Dein Eintrag wurde als Spam eingestuft. Wenn es keiner war, schreib ein Anliegen bitte per E-Mail an "webteam", dann das a mit dem lustigen Kringel drumrum, und dann diese Domain (ubuntuusers.de)</div>
  {%- else %}
  <form action="/error_report/" method="post">
    {%- if show_url_field %}
    {{ render_form(form, ['title', 'text', 'url']) }}
    {%- else %}
    {{ render_form(form, ['title', 'text']) }}
    {%- endif %}
    <p>
      {%- if not show_url_field %}
      {{- form.url }}
      {%- endif -%}
      <input type="submit" value="Ticket abschicken" /></p>
  </form>
  {%- endif %}

{% endblock %}
