h2, h3 {
    border-bottom: 1px solid #e0c99d;
    color: #444;
}

div.admin_control ul {
  list-style: none;
  text-align: center;
  border: none;
}

div.admin_control ul li {
  display: inline;
  display: inline-block;
}

div.admin_control ul li span {
  text-align: center;
  display: table-cell;
  border: 1px dotted #E3D6C4;
  padding: 0;
}

div.admin_control ul li span a {
  width: 250px;
  height: 150px;
  padding: 5px 10px 0 10px;
  display: block;
  text-decoration: none;
  color: #888;
}

div.admin_control ul li a:hover {
  color: #444;
}

div.admin_control ul li a img {
  opacity: 0.6;
}
div.admin_control ul li a:hover img {
  opacity: 1;
}


/* Styles for the static pages overview */
table.static_pages .key,
table.static_pages .title {
  width: 25%;
}
table.static_pages tbody tr td {
  text-align: center;
}

.icon {
  float: right;
  border: 1px solid #D4D4D4;
  padding: 0.5em;
}

/* Ikhaya Administration styles */
table.ikhaya_articles tbody tr.not_published,
table.ikhaya_articles tbody tr.not_published a {
  color: #aaa;
}


/* Event Administration styles */

table.events td.actions,
table.events td.date {
  margin-top: .2em;
  text-align: center;
}

a.event_edit, a.event_copy, a.event_delete {
  padding-right: 20px;
  margin-left: 5px;
  background: no-repeat left center;
}

a.event_edit { background-image: url(../img/icons/edit.png); }
a.event_copy { background-image: url(../img/icons/copy.png); }
a.event_delete { background-image: url(../img/icons/delete.png); }


/* User Administration styles */

select.permissions, select.forums {
  vertical-align: top;
  margin: 0 1.5em 0 0;
}

select.permissions option, select.forums option {
  padding: 0.2em 0.8em;
}

.item_add,
.item_remove {
  cursor: pointer;
}

select[name="user_groups_joined"],
select[name="user_groups_not_joined"] {
  border: none;
  padding: 5px;
  width: 100%;
}

table.user_groups {
  width: 50%;
}

table.user_groups tr th {
  font-size: 0.8em;
  border: 1px dotted #ccc;
  text-align: center;
}

table.user_groups tr td {
  text-align: center;
  border: 1px solid #ccc;
}

div.group_titles {
  border: 1px solid #ccc;
  margin: 5px 0px 5px 20px;
  padding: 5px;
  width: 350px;
  font-size: 0.8em;
  line-height: 1.1em;
  color: #333;
}

div.group_titles input {
  display: inline;
  margin: 0 0 0 10px;
}


div.preview_wrapper {
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
}

div.preview_wrapper h2.title {
  padding-bottom: 10px;
}

ul.permissions {
  list-style: none;
}

img.admin_teamicon {
  float: left;
  margin: 20px;
}

#forum_rights {
  display: table-row;
}

#forum_rights ul.forums {
  list-style: none;
  padding: 0;
  display: table-cell;
  vertical-align: top;
}

#forum_rights ul.forums li {
  background-color: #f2f2f2;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #ccc;
  margin-bottom: 0.4em;
  padding: 3px;
  color: #956205;
  cursor: pointer;
  font-size: 0.9em;
  white-space: nowrap;
}

#forum_rights ul.forums li.active {
  background-color: #fff;
  font-weight: bold;
}

#forum_rights div.privileges {
  display: table-cell;
  border: 1px solid #ccc;
  padding: 0.5em;
  margin-bottom: 0.4em;
  width: 100%;
}

#forum_rights div.privileges label {
  margin: 0 1em 0 0.5em;
}

/* Monitoring styles */

div.errorlist h4 {
  font-size: 15px;
  font-weight: normal;
  padding: 15px;
  background-color: #eee;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
}

div.errorlist h4:hover {
  background-color: #f8f8f8;
}

div.errorlist pre {
  margin: 0;
  padding: 5px 0 3px 15px;
  background-color: #ccc;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
  max-height: 400px;
  overflow: auto;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  border: 1px;
}

div.errorlist p.details {
  border-bottom: 1px solid #ccc;
  margin-bottom: 35px;
  padding: 0.5em;
  font-size: 11px;
}

div.errorlist p.details span.actions {
  float: right;
  font-size: 1.2em;
}

ul.advanced { list-style-type: none; }
ul.advanced li.frame { margin-bottom: 1em; }


div.errorlist table { border:1px solid #ccc; background:white; }
div.errorlist tbody td, tbody th { vertical-align:top; padding:2px 3px; }
div.errorlist thead th { padding:1px 6px 1px 3px; background:#fefefe; font-weight:normal; font-size:11px; border:1px solid #ddd; }
div.errorlist table.vars { margin:5px 0 2px 10px; }
div.errorlist table.vars td, table.req td { font-family:monospace; }
div.errorlist table.vars pre { background-color: white; }
