
.active {
    font-weight: bold;
}

ul.switcher {
    text-align: center;
}
ul.switcher li {
    list-style: none;
    display: inline;
}
ul.switcher li:before {
    content: ' | ';
    color: #AAA;
    font-weight: normal;
}
ul.switcher li:first-child:before {
    content: '';
}

td { 
    border-right-width: 1px;
}

.sunday {
    background-color: #FFE8E8;
}

.saturday {
    background-color: #E0D0D0;
}


