.header h1 {
  float: left;
  background: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ href('static', 'img/logo.png') }}', sizingMethod='crop');
}

.tabbar {
  top: -60px;
}

.tabbar li {
    padding-top: 60px;
}

.tabbar li.active {
  float: left;
  background: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ href('static', 'img/tabbar_border.png') }}', sizingMethod='image');
}

button.navi_toggle_down {
  background: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ href('static', 'img/toggle_sidebar_down.png') }}', sizingMethod='image');
}

button.navi_toggle_up {
  background: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ href('static', 'img/toggle_sidebar_up.png') }}', sizingMethod='image');
}

.tabbar li.portal a { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ href('static', 'img/icons/portal.png') }}', sizingMethod='crop'); }
.tabbar li.forum a  { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ href('static', 'img/icons/forum.png') }}', sizingMethod='crop'); }
.tabbar li.wiki a   { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ href('static', 'img/icons/wiki.png') }}', sizingMethod='crop'); }
.tabbar li.ikhaya a { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ href('static', 'img/icons/ikhaya.png') }}', sizingMethod='crop'); }
.tabbar li.planet a { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ href('static', 'img/icons/planet.png') }}', sizingMethod='crop'); }
.tabbar li.community a { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ href('static', 'img/icons/community.png') }}', sizingMethod='crop'); }

