/**
 * style.main
 * ~~~~~~~~~~
 *
 * Some global style definitions.
 *
 * :copyright: 2007 by Armin Ronacher, Benjamin Wiegand, Christopher Grebs,
 *                     Marian Sigler.
 * :license: GNU GPL.
 */


/*** Elements Styles **********************************************************/

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Verdana', 'Deja-Vu Sans', 'Bitstream Vera Sans', sans-serif;
  color: black;
  font-size: 0.9em;
}

html, body {
  background-color: #b3ab9a;
}

div.wrap {
  margin: 10px;
  background-image: url(../img/float-left.jpg);
  background-repeat: repeat-y;
  background-color: #FFFFFF;
  border-bottom: #aba393 1px solid;
  min-width: 780px;
}

div.wrap2 {
  background-image:url(../img/float-top.jpg);
  background-repeat:repeat-x;
}

div.wrap3 {
  background-image:url(../img/head.jpg);
  background-repeat:no-repeat;
}

div.wrap4 {
  background-image:url(../img/float-right.jpg);
  background-position:right;
  background-repeat:repeat-y;
}

div.wrap5 {
  background-image:url(../img/head-right.png);
  background-position:top right;
  background-repeat:no-repeat;
}

div.body {
  padding: 10px 0 20px 0;
}

a, :link, :visited {
  color: #956205;
  text-decoration: underline;
  cursor: pointer;
}

a img, :link img, :visited img {
  border: none;
}

a.strong {
  color: #191919;
  font-weight: bold;
}

input {
  border: 1px solid #AAA;
  padding: 1px 3px;
}

input[type="submit"], input[type="button"], input[type="reset"] {
  border-color: #777;
  background-color: #eee;
}

input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active {
  border: 1px #aaa inset;
  background-color: #f2f2f2!important;
}

input[type="submit"] {
  border-color: #333;
  font-weight: bold;
}

input.cancel[type="submit"] {
  border-color: #777;
  font-weight: normal;
}

input.disabled, input.disabled:active {
  color: #888!important;
  background-color: #e2e2e2!important;
  border: 1px solid #ccc!important;
}

textarea {
  border: 1px solid #AAA;
  width:100%;
}

div.actions {
  margin: 1em 0 0 0;
}

select {
  border: 1px solid #AAA;
}

hr {
  border: 0;
  height: 1px;
  background-color: #AAA;
}

h1, h2, h3, h4 {
  font-family: 'Trebuchet MS', 'Verdana', sans-serif;
  font-weight: bold;
  margin: 0.7em 0.0em 0.4em;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; }

dt {
  font-weight: bold;
}

dt em {
  font-size: 0.8em;
  font-weight: normal;
}

dd {
  margin: 0.3em 0 0 2em;
}

dl {
  margin-bottom:0.7em;
}

form dt {
    margin: 1em 0 0 0;
}

blockquote {
  border-left: solid 3px #888;
  font-style: italic;
  color: #333;
  padding-left: 0.4em;
  margin-left: 1.0em;
}

code {
  background-color: #eee;
  font-family: monospace;
}

pre {
  background-color: #eee;
  font-family: monospace;
  border: 1px solid #aaa;
  padding: 0 0.4em;
  margin: 0.5em 1em;
  overflow: auto;
  font-style: normal;
}

ol ul, ol ol, ul ol, ol ul {
  margin: 0;
}

li p {
  margin: 0!important;
}

li p + p {
  margin-top: 0.5em!important;
}

/*** Pagination *************************************************************/
div.pagination_right {
    float: right;
}

div.pagination .pageselect, div.pagination .next, div.pagination .ellipsis {
    font-size: 13px;
    float: left;
    display: block;
    line-height: 1.4em;
    background-color: white;
    height: 1.4em;
    padding: 0 0.5em 0 0.5em!important;
    margin-left: 1px;
}

div.pagination .pageselect, div.pagination .next {
    border: 1px solid #aaa;
    padding: 4px;
    text-decoration: none;
}

div.pagination span.comma {
    display: none;
}

div.pagination .disabled {
    border-color: #ddd;
    color: #ddd;
}

div.pagination .ellipsis {
    background-color: transparent!important;
}

div.pagination span.active {
    color: white;
    background-color: #aaa;
}

div.pagination a {
    color: #555;
}

div.pagination a:hover {
    background-color: #555;
    color: white;
}

/*** Table Style ************************************************************/

table {
  width: 100%;
  margin-bottom: 0.7em;
  border-collapse: collapse;
  border-spacing: 0px;
  border: solid 1px #ccc;
}

table th {
  text-align: left;
}

table tr.head th,
table thead th {
    background-image: url('../img/table-header.png');
    background-repeat: repeat-x;
    background-color: #f5f1e6;
    padding: 0.3em 0;
    text-align: center;
    color: #673B1A;
    vertical-align:middle;
}

table tr.empty td {
    color: #444;
    background-color: #eee;
    padding: 8px;
    text-align: center;
}

table tr.head a {
    color: black;
    text-decoration: none;
}

table thead th a {
  color: #000;
  text-decoration:none;
}

table thead td {
  background-color:#f8f8f8;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.3em 0.6em;
}

table tbody th,
table tbody td {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 1px 0;
  vertical-align: middle;
}

table tbody th {
  background: #f2f2f2 url(../img/table-header-alternative.png);
  color: #333333;
  padding: 0.3em 0;
}

table tbody th a {
  color: #666;
  text-decoration: none;
}

table tbody td {
  padding: 0.3em 0.6em;
}

table tfoot td {
  background-color: #f8f8f8;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.3em 0.6em;
}


/*** Utility Classes **********************************************************/

.feed_icon {
  float: right;
}

.error {
  color: #920000;
}

ul.errorlist, ul.errors, div.errors {
  margin: 5px 0 5px 0;
  padding: 2px 2px 2px 26px!important;
  border: 1px solid #900;
  background: #A80000 url(../img/smallerror.png) no-repeat 4px 5px;
  color: white;
}

ul.errors li, ul.errorlist {
  color: white;
}

span.highlight {
  background-color: #FFE100;
  color: #641A1A;
  font-weight: bold;
}

.note {
  font-size: 0.9em;
  padding-left: 1.0em;
  color: #444;
}

.note_link {
  font-size: 0.9em;
  padding-left: 1.0em;
  color: #444;
  cursor: pointer;
  text-decoration: underline;
}
.note_link:hover {
  color: #111;
}

.extlink:after {
  content: url(../img/extlink.gif);
  margin-left:5px;
}

/* This is used in the UserCP-Subscriptions page */
h3 .note {
  font-size: 0.7em;
  padding-left: 0px;
}

table.syntaxtable {
  border: 0;
  margin: /*1em 0 0*/ 0;
}

table.syntaxtable pre {
  line-height: 1.4em;
  padding: 0.4em 1em;
  margin: 0;
  border: none;
}

table.syntaxtable td {
  padding: 0;
}

table.syntaxtable td.linenos {
  width: 60px;
  color: #888888;
  font-weight: bold;
  text-align: right;
  border-right: 1px solid #DDDDDD;
}

.linklist {
    color: #cccccc;
}

/*** Header / Tabbar **********************************************************/

.header {
  height: 106px;
/*  background-image: url(../img/header.jpg);*/
}

.header img {
  margin: 5px 0 0 10px;
}

.header h1 {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: 15px 15px;
  padding: 5px;
  margin: 0;
  width:320px;
  float:left
}

.header h1 a {
  display: block;
  width: 257px;
  height: 90px;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.header h1 span {
  display: none;
}

.tabbar {
  margin: 0;
  position:relative;
  right: 10px;
  top:5px;
  float:right
}

.tabbar li {
  list-style: none;  
  float: left;
  padding: 4px 0 6px 0;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.tabbar li a {
  display: block;
  color: #673B1A;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 28px;
  width: 80px;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
}

.tabbar li:hover a {
  color: black;
}

.tabbar li.portal a { background-image: url(../img/icons/portal.png); }
.tabbar li.forum a  { background-image: url(../img/icons/forum.png); }
.tabbar li.wiki a   { background-image: url(../img/icons/wiki.png); }
.tabbar li.ikhaya a { background-image: url(../img/icons/ikhaya.png); }
.tabbar li.planet a { background-image: url(../img/icons/planet.png); }
.tabbar li.community a   { background-image: url(../img/icons/community.png); }

.tabbar li.active {
  background-image: url(../img/tabbar_border.png);
}

.tabbar li.active:hover {
  background-image: url(../img/tabbar_border.png);
}

.tabbar li:hover {
  background-image: url(../img/tabbar_border_hover.png);
}

/*** Navigation / Page Content ************************************************/

.page_content {
  margin: 1.0em 20px;
  margin-top: 0px;
}

.content {
  clear: right;
  border: solid 1px #ccc; 
  background-color: #fff;
  padding: 15px 20px;
}

.content_sidebar {
  margin-left: 15.0em;
}

button.navi_toggle_down, button.navi_toggle_up {
  display: block;
  float: left;
  background-repeat: no-repeat;
  background-position: center center;
  width: 24px;
  height: 24px;
  margin: -2px 4px -2px -2px;
  border: 0;
  background-color: transparent;
}

button.navi_toggle_down {
  background-image: url(../img/toggle_sidebar_down.png);
}

button.navi_toggle_up {
  background-image: url(../img/toggle_sidebar_up.png);
}

button.navi_toggle_down:hover, button.navi_toggle_up:hover {
  background-color: #F5DAC1;
  border: 1px solid #E6A66B;
  cursor: pointer;
}

.navi_sidebar {
  float: left;
}

.navi_sidebar .container {
  border: solid 1px #ccc;
  background-color: #fff;
  background-repeat: repeat-x;
  padding: 0em 1em 0.5em 1em;
  width: 12em;
  margin-bottom: 0.8em;
}

.navi_sidebar h3 {
  font-weight: bold;
  border-bottom: solid 1px #888;
  font-size: 1.1em;
  margin-bottom: 0.4em;
  color: #444;
  padding: 0.5em;
  padding-left: 28px;
  background-repeat: no-repeat;
  background-position: left center;
}

.navi_sidebar h3 a {
  color: #444;
  text-decoration: none;
  font-weight: 100;
}

.navi_sidebar h3.navi_ubuntu      { background-image: url('../img/icons/ubuntu.png'); }
.navi_sidebar h3.navi_ubuntuusers { background-image: url('../img/icons/ubuntuusers.png'); }
.navi_sidebar h3.navi_forum       { background-image: url('../img/icons/forum_sb.png'); }
.navi_sidebar h3.navi_wiki        { background-image: url('../img/icons/wiki_sb.png'); }
.navi_sidebar h3.navi_ikhaya      { background-image: url('../img/icons/ikhaya_sb.png'); }
.navi_sidebar h3.navi_planet      { background-image: url('../img/icons/planet_sb.png'); }
.navi_sidebar h3.actions          { background-image: url('../img/icons/actions.png'); }

.navi_sidebar p {
  color: #222;
  margin-bottom: 0.7em;
}

.navi_sidebar ul {
  list-style: url(../img/bullet.gif);
  color: #222;
  margin: 0 0 0 1.3em;
  padding: 0;
}

.navi_sidebar ul a {
  color: #222;
  text-decoration: none;
}

.navi_tabbar {
  font-size: 0.85em;
  margin-bottom: -1px;
}

.navi_tabbar ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navi_tabbar ul li {
  float: left;
  margin-left: 3px;
  margin-bottom:-1px;
}

.navi_tabbar ul li a {
  display: block;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 3px 6px 2px 6px;
  text-decoration: none;
}

.navi_tabbar ul li a.active {
  font-weight: bold;
  background: white;
  border-color: #999;
  padding-bottom: 3px;
}

.navi_tabbar ul li a:hover {
  color: #222;
  background: #f8f8f8;
}

.navi_tabbar li.disabled a {
  color: #aaa;
}

/*** Appheader / Global Navigation / Pathbar **********************************/

.appheader {
  margin: 20px;
  margin-bottom: 1.0em;
  margin-top: 0;
}

.appheader h1 {
  color: #a48f65;
  font-family: 'Trebuchet MS',sans-serif;
  font-size: 2.6em;
  margin: 0 0 0.2em 0;
  display:inline;
}

.appheader h1:after {
  content:" /";
  color:#917b4e;
}

.appheader h2 {
  color: #816a3b;
  font-family: 'Trebuchet MS',sans-serif;
  font-size: 1.5em;
  margin: -0.3em 0 0 0.5em;
  display:inline;
}

.appheader h1 a {
  color: #a48f65;
  text-decoration: none;
}

.appheader h2 a {
  color: #816a3b;
  text-decoration: none;
}

.navi_global {
  margin: 0;
  float: right;
  list-style-type: none;
}

.mod_navi {
  margin-top: 2em;
  float: right;
  position: absolute;
  right: 30px;
  list-style-type: none;
}

.navi_global li, .mod_navi li {
  float: left;
  margin-left: 5px;
}

.navi_global li a {
  display: block;
  padding: 0 0 0 0.4em;
  color: #B58215;
  text-decoration: none;
}

.navi_global li a:hover {
  color: #640;
  text-decoration: underline;
}

.mod_navi li a {
  display: block;
  padding: 0 0 0 0.4em;
  text-decoration: none;
  color: #7ead00;
}

.mod_navi li a:hover {
  color: #597a00;
  text-decoration: underline;
}

.pathbar {
  background-color: #f6f6f6;
  border: 1px solid #bbb;
  padding: 5px 5px 5px 8px;
  font-size: 0.85em;
  margin: 0 20px 10px 20px;
  position:relative;
}

.content_tabbar div.pathbar {
  margin: 0;
}

.pathbar p.trace {
  margin: 0;
  padding: 4px 0 2px 0;
}

form.search {
  float:right;
}

form.search p {
  margin: 0;
  padding: 0;
}

form.search .search_query {
  border: solid 1px #888;
  background-color: #fefefe;
  padding: 1px;
  width: 10.0em;
}

form.search .search_query_js {
  background-image: url(../img/icons/small/portal.png);
  background-repeat: no-repeat;
  background-position: 1px 1px;
  padding: 1px 1px 1px 22px;
}

form.search .search_query_js.default_value {
  color: #AAA;
}

form.search select.search_area {
  border: solid 1px #888;
  background-color: #fefefe;
}

form.search .search_submit {
  background: url(../img/search.png);
  background-color: #eee;
  color:#333333;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0px;
  padding-left: 18px;
}

form.search .search_submit:hover {
  background-color:#FFFFFF;
}

form.search .search_expander {
  cursor: pointer;
  margin-top: -20px;
  position: absolute;
  background-image: url(../img/search_expander.png);
  background-position: 11px 13px;
  background-repeat: no-repeat;
  width: 20px;
  height: 18px;
}

form.search ul.search_area {
  position: absolute;
  margin-top: 19px;
  line-height: 1em;
  list-style: none;
  border: solid 1px #888;
  background-color: #fefefe;
  padding: 0;
}

form.search ul.search_area li {
  padding: 0.3em 0.4em 0.3em 18px;
  cursor: pointer;
  color: black;
  background: transparent url(../img/icons/small/portal.png) left no-repeat;
}

form.search ul.search_area li.active {
  font-weight: bold;
}

form.search ul.search_area li:hover {
  background-color: #eee;
}

form.search ul.search_area li.area_wiki, .search input.area_wiki {
    background-image: url(../img/icons/small/wiki.png);
}

form.search ul.search_area li.area_forum, .search input.area_forum {
    background-image: url(../img/icons/small/forum.png);
}

form.search ul.search_area li.area_planet, .search input.area_planet {
    background-image: url(../img/icons/small/planet.png);
}

form.search ul.search_area li.area_ikhaya, .search input.area_ikhaya {
    background-image: url(../img/icons/small/ikhaya.png);
}


/*** Content ******************************************************************/

.content p {
  margin: 0.7em 0.0em;
  text-align: justify;
}

.content ul, .content ol {
  padding-left: 2.0em;
}

.content li {
  text-align: justify;
}

/*** Footer *******************************************************************/

.footer {
  border-top: 1px solid #aba393;
  clear: both;
  color: #555;
  font-size: 0.8em;
  padding: 8px 10px 8px 10px;
  height: 3em;
}

.footer ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer li {
  vertical-align: middle;
  float: left;
  width: 33%;
}

.footer a {
  color: #555;
  text-decoration: underline;
}

.footer .poweredby {
  text-align: left;
  width: 25%;
}

.footer .license {
  text-align: center;
  width: 50%;
}

.footer .license img {
  line-height: 12px!important;
  height: 12px!important;
  vertical-align: middle;
}

.footer .housing {
  text-align: right;
  width: 25%;
}

.footer .housing img {
  padding: 3px 0 0 0;
}

/*** About ********************************************************************/

p.badges {
  padding: 2em 0 2em 0;
  text-align: center;
}

p.badges img {
  margin: 0.8em 1em 0.8em 1em;
}

p.badges img:hover {
  opacity: 0.5;
}

/*** Message Boxes ************************************************************/

.message {
  margin: -10px 20px 10px 20px;
  padding: 0.4em 0.8em;
  background-color: #F9EAAF;
  background-repeat: no-repeat;
  background-position: left center;
  border: 1px solid #E8A21A;
  border-top: none;
  text-align: left;
}

.message input {
  margin: 5px;
}

.message.fail {
  background-color: #FFDDDD;
  border-color: #EE0000;
  /*background-image: url('../img/message_fail.png');*/
  /*padding-left: 26px;*/
}

.message.success {
  background-color: #DDFFDD;
  border-color: #008000;
  /*background-image: url('../img/message_success.png');*/
  /*padding-left: 26px;*/
}

.message a.hide {
  float: right;
  display: block;
  background-image: url(../img/hide.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 24px;
  height: 16px;
}

.message a.hide:hover {
  background-image: url(../img/message_fail.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.content .message {
  margin: 0.0em;
  margin-bottom: 1.0em;
}

div.not_found {
  margin: 0 50px 0 50px;
  display: block;
  height: 60px;
}

div.not_found p {
  margin-top: 50px;
}

div.not_found img {
  margin-top: -80px;
  float: right;
}

.hidden * { /* this is for hidden topics, etc. use hide to really hide stuff */
  color: #888 !important;
} 

.hide {
  display: none;
}

.help_text {
  font-size: .85em;
  color: #888;
}

/* Autocomplete styles */
.ac_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	width:3000px;
	height:3000px;
}

* html .ac_results iframe { /* IE */
    filter: mask();
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}

.ac_loading {
	background : Window url('./indicator.gif') right center no-repeat;
}

.ac_over {
	background-color: Highlight;
	color: HighlightText;
}

/* temporary error reporting foobar */

#user_error_report {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 0.5em 0 1em 0;
    border-top: 8px solid #444;
    background-color: #222;
}

#user_error_report p {
    margin: 0.5em 1em;
}

#user_error_report_link {
    text-decoration: none;
    background: url(../img/icons/bug.png) no-repeat;
    padding-left: 20px;
    float:right;
    position: relative;
    top: -0.5em;
}

#user_error_report input,
#user_error_report textarea {
    background-color: #111;
    color: white;
    border: 1px solid #444;
    font-family: sans-serif;
}

#user_error_report textarea {
    background-image: url(../img/portal/errorreport_warning.png);
    background-repeat: repeat-x;
}

#user_error_report input.disabled,
#user_error_report input:active {
    background-color: black!important;
}

#user_error_report :link,
#user_error_report :visited {
    text-decoration: none;
    color: #956205;
}

#js_login_form {
    display: none;
    top: 0;
    left: 0;
    font-size: 0.85em;
    color: black;
    padding: 0.3em 20px;
    border-bottom: 1px solid #291c06;
    background-image: url(../img/panel-top.png);
    background-repeat: repeat-x;
}

#js_login_form a {
    color: black;
}

#js_login_form .right {
    margin-right: 1em;
}

#js_login_form input {
    background-color: #F1EAD8;
    color: #291c06;
    border: 1px solid #8E8674;
}

#js_login_form input#js_login_permanent {
    position:relative;
    top:3px;
}

#js_login_form .submit {
    position:relative;
    right:15px;
}

/*** Filterable ***************************************************************/

table.filterable td.value {
  width: 100%;
}

table.filterable div.add {
  float: right;
}

/*** dropdown ************************************************************/

ul.dropdown {
  list-style:none;
  float:right;
  background-color:#f5f5f5;
  border:#f5f5f5 1px solid;
  padding:3px 5px;
  width:140px;
}

ul.dropdown li {
  margin-bottom:3px;
}

ul.dropdown:hover {
  border:#cccccc 1px solid;
}

ul.dropdown ul {
  display:none;
  list-style:none;
}

ul.dropdown:hover ul {
  display:block
}

ul.dropdown:hover > li:first-child {
  padding: 0 0 0.5em 0;
  border-bottom: 1px solid #d4d4d4;
}

ul.dropdown > li:first-child a {
  text-decoration: none;
  padding-left: 15px;
  background-image: url(../img/arrow-down.gif);
  background-position: left;
  background-repeat: no-repeat;
}

ul.dropdown:hover > li:first-child a {
  text-decoration: underline;
  background-image: url(../img/arrow-up.gif);
}

div.dropdown {
  float:right;
  width:120px;
  height:20px;
  margin-right:4px;
}

/*** preload ************************************************************/

#preload {
  height: 0;
  overflow: hidden;
} 

