{#
    ikhaya/detail.html
    ~~~~~~~~~~~~~~~~~~

    Show a single ikhaya article.

    :copyright: 2007 by Benjamin Wiegand.
    :license: GNU GPL.
#}
{%- extends 'ikhaya/page.html' %}
{% from 'macros.html' import render_form %}

{% set title_trace = [article.subject|e] %}
{% set styles = ['editor.css']%}
{% set scripts = ['ikhaya.js', 'WikiEditor.js'] %}

{% block ikhaya_content %}
  <div class="article">
    <h3 class="title"><a href="{{ article|url }}">{{ article.subject|e }}</a></h3>
    {%- if article.icon -%}
    <img class="icon" src="{{ article.icon|url }}" alt="{{ article.icon.identifier|e }}" />
    {%- endif -%}
    <div class="intro">
      {{ article.rendered_intro }}
    </div>
    <hr class="intro_text_splitter" />
    <div class="text">
      {{ article.rendered_text }}
    </div>
  
    <p class="meta_detail">
      geschrieben von <a href="{{ article.author|url }}">
      {{ article.author.username|e}}</a> {{ article.pub_date|specificdatetimeformat(true) }} 
      in <a href="{{ article.category|url }}">{{ article.category.name|e }}</a> 
      {%- if article.edit_count %}
      — {{ article.edit_count }} Mal bearbeitet
      {%- endif %}
      {% if USER.is_manager %} – <a href="{{ href('admin', 'ikhaya', 'articles', 'edit', article.slug) }}">editieren</a>{% endif %}
    </p>
    {%- if article.comments_enabled %}
    <a name="comments"></a>
    <ul class="comments">
      {%- for comment in comments %}
      <li class="comment" id="comment_{{ loop.index }}">
        <div class="counter">{{ loop.index }}</div>
        <div class="comment">
          <strong>„{{ comment.title|e }}“</strong> —
          von <a name="comment_{{ comment.id }}" href="{{ comment.author|url }}">{{ comment.author.username|e }}</a> {{ comment.pub_date|specificdatetimeformat(true) }}
          {%- if USER.is_authenticated %} — <a href="#new_comment" onclick="$('#id_text').val($('#id_text').val() + '@' + {{ loop.index }} + ': ')" class="reply">Antworten</a>
            {%- if USER.is_ikhaya_writer %}
            <a href="{{ href('ikhaya', 'comment', 'delete', comment.id) }}">Löschen</a>
            {% endif %}
          {%- endif %}
          {{ comment.rendered_text }}
        </div>
      </li>
      {%- else %}
      <li>
        Es wurde noch kein Kommentar geschrieben.
      </li>  
      {%- endfor %}
    </ul>
    {%- if USER.is_authenticated %}
    <h4><a name="new_comment">Kommentar schreiben</a></h4>
    <form action="{{ article|url }}#new_comment" method="post" class="new_comment">
      {{ render_form(form, ['title', 'text']) }}
      <p>
        <input type="submit" name="preview" value="Vorschau" />
        <input type="submit" value="Speichern" />
      </p>
      {%- if preview %}
      <div class="preview_wrapper">
        <h2 class="title">Vorschau</h2>
        <div id="preview" class="preview">{{ preview }}</div>
      </div>
      {%- endif %}
    </form>
    <script type="text/javascript">
      /* <![CDATA[ */
      var text = new WikiEditor('textarea[@name="text"]', 'forum');
      (function() {
        var
          editor = $('textarea[@name="text"]'),
          output = $('<div class="preview" />')
        var preview = $('<div class="preview_wrapper" />')
          .hide()
          .append('<h2 class="title">Vorschau<\/h2>')
          .append(output);

        $('form input[@name="preview"]').click(function() {
          preview.hide();
          $.post('/?__service__=wiki.render_preview', {
            text: editor.val()
          }, function(data) {
            output.html(data);
            makeCommentLinks(output);
            preview.slideDown('fast');
          });
          return false;
        }).parent().parent().parent().append(preview);
      })();

      /* ]]> */
    </script>
    {%- endif %}
    {%- endif %}
  </div>
{% endblock %}
