{#
    templates.admin.configuration
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    On this page the administrator can set general configuration values.

    :copyright: 2007 by Benjamin Wiegand.
    :license: GNU GPL.
#}
{%- extends 'admin/overall.html' %}
{% from 'macros.html' import render_form %}

{% navigation_trace = [
    (href('admin', 'config'), 'Konfiguration')
  ] %}

{% block admin_content %}
<h3>{{ title_trace[0] }}</h3>

<form action="" method="post" class="ikhaya">
  <dl>
    {{ render_form(form, ['global_message', 'max_signature_length', 'max_signature_lines'], inline=true) }}
    <dt>Maximale Avatargröße</dt>
    <dd>{{ form.max_avatar_width }} x {{ form.max_avatar_height }} Pixel
        {{ form.errors.max_avatar_height }} {{ form.errors.max_avatar_width }}</dd>
  </dl>
  <h3>Get Ubuntu-Link</h3>
  {{ render_form(form, ['get_ubuntu_link', 'get_ubuntu_description']) }}
  <br />
  <p>
    <input type="submit" value="Speichern" />
  </p>
</form>
{% endblock %}
