{#
    admin/edit_user.html
    ~~~~~~~~~~~~~~~~~~~~

    Just edit an user...

    :copyright: 2008 by Christopher Grebs.
    :license: GNU GPL.
#}
{% extends 'admin/overall.html' %}
{% set styles = ['editor.css', 'datetimefield.css'] %}
{% set scripts = ['WikiEditor.js', 'DateTime.js', 'PrivilegeBox.js'] %}

{% set navigation_trace = [
    (href('admin', 'users'), 'Benutzer'),
] %}

{% block appheader %}
<h1>Administration</h1>
<h2>Benutzer</h2>
{% endblock %}


{% block admin_content %}
<form action="" method="post">
  <h2>Einstellungen von {{ user.username }}</h2>
  <h3>Forum-Einstellungen</h3>
  <p>
    {% if user_groups %}
    Der Benutzer {{ user.username }} gehört den folgenden Gruppen an: {{ user_groups|join(', ') }}
    {% else %}
    Der Benutzer {{ user.username }} gehört keinen Gruppen an.
    {% endif %}
    <br />
    <a href="{{ href('admin', 'users', 'addgroup', user.username) }}">{{ user.username }} einer anderen Gruppe hinzufügen</a>
  </p>
  <dl>
  {{ h.render_form(form, 'username', 'is_active', inline=true) }}
    <dt>Forum-Privilegien:</dt>
    <dd id="forum_rights">Javascript muss aktiviert sein, um die Privilegien zu editieren!</dd>
  {{ h.render_form(form, 'date_joined', inline=true) }}
  <br /><span class="date_joined_ui_switcher">grafischen Editor aktivieren</span>
  </dl>
  <h3>Persönliche Details von {{ user.username }}</h3>
  {{ h.render_form(form, 'new_password', 'website', 'interests', 'location') }}
  <h3>Benachrichtigungs-Einstellungen</h3>
  {{ h.render_form(form, 'jabber', 'icq', 'msn', 'aim', 'yim') }}
  <h3>Sonstige Einstellungen</h3>
  {{ h.render_form(form, 'signature', 'coordinates_long', 'coordinates_lat', 'avatar', 'gpgkey') }}
  <p>
    <button type="submit" id="submit">Speichern</button>
  </p>
</form>
<script type="text/javascript">
  /* <![CDATA[ */
  var signature = new WikiEditor('textarea[@name="signature"]');
  var forum_rights = new PrivilegeBox('#forum_rights', {{ user_forum_privileges|jsonencode }},
    {{ forum_privileges|jsonencode }});
  var date_joined = null;
  var date_joined_switcher = $('span.date_joined_ui_switcher');
  date_joined_switcher.click(function() {
    if (date_joined instanceof DateTimeField) {
      date_joined.destroy();
      date_joined = null;
      date_joined_switcher.text('grafischen Editor aktivieren');
    } else {
      date_joined = new DateTimeField('input[@name="date_joined"]');
      date_joined_switcher.text('grafischen Editor deaktivieren');
    }
  });
  /* ]]> */
</script>
{% endblock %}
