{#
    admin/edit_user.html
    ~~~~~~~~~~~~~~~~~~~~

    Just edit an user...

    :copyright: 2008 by Christopher Grebs.
    :license: GNU GPL.
#}
{% extends 'admin/overall.html' %}
{% set styles = styles + ['editor.css', 'datetimefield.css'] %}
{% set scripts = scripts + ['WikiEditor.js', 'DateTime.js', 'PrivilegeBox.js', 'UserGroupBox.js'] %}

{% set navigation_trace = [
    (href('admin', 'users'), 'Benutzer'),
    (href('admin', 'users', 'edit', user.username), 'Benutzer „%s“ editieren'|format(user.username|e))
] %}

{% block appheader %}
<h1>Administration</h1>
<h2>Benutzer</h2>
{% endblock %}


{% block admin_content %}
<form action="" method="post" id="user_edit_form">
  <h3>Forum-Einstellungen</h3>
  <p>
    {%- if user_groups %}
    Der Benutzer „{{ user.username|e }}“ gehört den folgenden Gruppen an: {% for group in user_groups|sort %}<a href="{{ group|url|e }}">{{ group.name|e }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
    {%- else %}
    Der Benutzer {{ user.username|e }} gehört aktuell keinen Gruppen an.
    {%- endif %}
  </p>

  <dl>
    {{ h.render_form(form, 'username', 'is_active', 'new_password', 'email', 'banned', inline=true) }}
    <dd class="note_link bann_user_event">
      Benutzer sperren
    </dd>
    <dt>Gruppenzugehörigkeiten editieren:</dt>
    <dd>
      <table class="user_groups">
        <tr>
          <th>nicht zugehörige Gruppen</th>
          <th class="actions">
            <img src="{{ href('static', '/img/admin/add_item.png') }}" alt="Gruppen hinzufügen" class="item_add" />
            <img src="{{ href('static', '/img/admin/remove_item.png') }}" alt="Gruppen entfernen" class="item_remove" />
          </th>
          <th>zugehörige Gruppen</th>
        </tr>
        <tr>
          <td><select multiple="multiple" size="5" name="user_groups_not_joined"></select></td>
          <td></td>
          <td><select multiple="multiple" size="5" name="user_groups_joined"></select></td>
        </tr>
      </table>
    </dd>
    <dt>Forum-Privilegien:</dt>
    <dd id="forum_rights">Javascript muss aktiviert sein, um die Privilegien zu editieren!</dd>
    <dt>Ikhaya-Privilegien:</dt>
    <dd>{{ form.is_ikhaya_writer }} {{ form.is_ikhaya_writer.label }}</dd>
    {{ h.render_form(form, 'date_joined', inline=true) }}
    <dd class="note_link date_joined_ui_switcher">grafischen Editor aktivieren</dd>
  </dl>
  <h3>Persönliche Details von {{ user.username|e }}</h3>
  {{ h.render_form(form, 'website', 'interests', 'location') }}
  <h3>Benachrichtigungs-Einstellungen</h3>
  {{ h.render_form(form, 'jabber', 'icq', 'msn', 'aim', 'yim') }}
  <h3>Sonstige Einstellungen</h3>
  {{ h.render_form(form, 'signature', 'coordinates_long', 'coordinates_lat', 'avatar', 'gpgkey') }}
  <p>
    <input type="submit" value="Speichern" />
  </p>
</form>
<script type="text/javascript">
  /* <![CDATA[ */
  var signature = new WikiEditor('textarea[@name="signature"]');
  var forum_rights = new PrivilegeBox('#forum_rights', {{ user_forum_privileges|jsonencode }},
    {{ forum_privileges|jsonencode }});
  var select_form = new GroupBox('#user_edit_box',
    {{ joined_groups|sort|jsonencode }},
    {{ not_joined_groups|sort|jsonencode }}
  );

  var banned = $('input[@name="banned"]');
  var bann_user_event = $('.bann_user_event');

  if (banned.val()) {
    bann_user_event.text('Sperrung aufheben');
    banned = new DateTimeField('input[@name="banned"]', true);
  } else {
    banned.hide()
  }

  bann_user_event
    .click(function() {
      if (banned instanceof DateTimeField) {
        banned.destroy();
        banned = $('input[@name="banned"]')
          .val('')
          .hide();
        bann_user_event.text('Benutzer sperren')
      } else {
        banned = new DateTimeField('input[@name="banned"]', true);
        bann_user_event.text('Sperrung aufheben');
      }
    });


  var date_joined = null;
  var dj_ui_switcher = $('.date_joined_ui_switcher')
    .click(function() {
      if (date_joined instanceof DateTimeField) {
        date_joined.destroy();
        date_joined = null;
        dj_ui_switcher.text('grafischen Editor aktivieren');
      } else {
        date_joined = new DateTimeField('input[@name="date_joined"]');
        dj_ui_switcher.text('grafischen Editor deaktivieren');
      }
    });
  /* ]]> */
</script>
{% endblock %}
