{#
    templates.admin.event_edit
    ~~~~~~~~~~~~~~~~~~~~~~~~~

    Template for editing or creating an event.

    :copyright: 2008 by Marian Sigler.
    :license: GNU GPL.
#}
{%- extends 'admin/overall.html' %}
{% set styles = ['editor.css', 'datetimefield.css'] %}
{% set scripts = ['WikiEditor.js', 'DateTime.js'] %}

{% set navigation_trace = [
    (href('admin', 'ikhaya'), 'Ikhaya'),
    (href('admin', 'events'), 'Veranstaltungen'),
  ] %}
{% if not date %}
  {% do navigation_trace.append([
      href('admin', 'ikhaya', 'dates', 'new'), 'Veranstaltung eintragen'
    ]) %}
{% else %}
  {% do navigation_trace.append([
      date|url('edit'), 'Veranstaltung „%s“ bearbeiten'|format(date.title|e)
    ]) %}
{% endif %}

{% block admin_content %}
<h2>{{ title_trace[0] }}</h2>

<form action="" method="post" enctype="multipart/form-data">
  {%- if form.errors %}
  <ul>{{ form.errors }}</ul>
  {%- endif %}
  <dt><label for="id_name">Name:</label></dt>
  <dd>{{ form.name }}</dd>
  <dt>Zeitpunkt:</dt>
  <dd><label for="id_date">Datum:</label> {{ form.date }}</dd>
  <dd><label for="id_time">Uhrzeit:</label> {{ form.time }}</dd>
  <dt><label for="id_description">Details:</label></dt>
  <dd>{{ form.description }}</dd>
  <dt>Ort:</dt>
  <dd><label for="id_location_town">Stadt:</label> {{ form.location_town }}</dd>
  <dd><label for="id_location">Veranstaltungsort:</label> {{ form.location }}</dd>

  <dt>Koordinaten:</dt>
  <dd><label for="id_location_long">Breite:</label> {{ form.location_long }}</dd>
  <dd><label for="id_location_lat">Länge:</label> {{ form.location_lat }}</dd>

  <p><input type="submit" value="Speichern" /></p>
</form>

<script type="text/javascript">
  /* <![CDATA[ */
//  var date = new DateTimeField('#id_date');
  var text = new WikiEditor('#id_description');
  /* ]]> */
</script>
{% endblock %}
