{#
    templates.admin.event_delete
    ~~~~~~~~~~~~~~~~~~~~~~~~~

    Template for deleting an event.

    :copyright: 2008 by Marian Sigler.
    :license: GNU GPL.
#}
{% extends 'admin/overall.html' %}
{% set styles = ['editor.css', 'datetimefield.css'] %}
{% set scripts = ['WikiEditor.js', 'DateTime.js'] %}

{% set navigation_trace = [
    (href('admin', 'events'), 'Veranstaltungen'),
    (href('admin', 'events', 'delete'), 'Veranstaltung löschen'),
  ] + navigation_trace %}

{% block admin_content %}
<h2>{{ title_trace[0] }}</h2>

<form action="" method="POST">
  <p>Die Veranstaltung „{{ event.name|e }}“ wirklich löschen?</p>
  <p>
    <input type="submit" name="confirm" value="Ja, löschen" style="width: 20em" />
    <input type="submit" class="cancel" name="cancel" value="Nein, abbrechen" />
  </p>
</form>
{% endblock %}
