{#
    templates.admin.file_edit
    ~~~~~~~~~~~~~~~~~~~~~~~~~

    Template for editing or creating a static file.

    :copyright: 2007 by Benjamin Wiegand.
    :license: GNU GPL.
#}
{%- extends 'admin/overall.html' %}
{% from 'macros.html' import render_form %}

{% set navigation_trace = [
    (href('admin', 'files'), 'Statische Dateien')
  ] %}
{% if not file %}
  {% do navigation_trace.append([href('admin', 'files', 'new'), 'Statische Datei erstellen']) %}
{% else %}
  {% do navigation_trace.append([file|url('edit'), 'Statische Datei „%s“ bearbeiten'|format(file.identifier|e)]) %}
{% endif %}

{% block admin_content %}
<h2>{{ title_trace[0] }}</h2>

<form action="" method="post" enctype="multipart/form-data">
  <dl>
    {{ render_form(form, ['is_ikhaya_icon'], inline=true) }}
    {%- if file %}
    <dt>URL:</dl>
    <dd><pre>{{ file|url }}</pre></dd>
    {%- else %}
    {{ render_form(form, ['file'], inline=true) }}
    {%- endif %}
  </dl>
  <p>
    <input type="submit" value="Speichern" />
  </p>
</form>
{% endblock %}
