{#
    admin/categories.html
    ~~~~~~~~~~~~~~~~~~~~~

    This is the overview of the Forum.

    :copyright: 2008 by Benjamin Wiegand.
    :license: GNU GPL.
#}
{% extends 'admin/overall.html' %}
{% set navigation_trace = [
    (href('admin', 'forum'), 'Forum'),
  ] %}
{% block appheader %}
<h1>Administration</h1>
<h2>Forum</h2>
{% endblock %}

{% block admin_content %}
<h3>Foren</h3>
<table>
  <thead>
  <tr>
    <th>{{ table.get_html('name', 'Name') }}</th>
    <th>{{ table.get_html('parent', 'Eltern') }}</th>
    <th>{{ table.get_html('position', 'Position') }}</th>
  </tr>
  </thead>
  <tbody>
  {%- for forum in table.get_objects() %}
  <tr>
    <td><a href="{{ forum|url('edit') }}">{{ forum.name|e }}</a></td>
    <td>{% if forum.parent %}<a href="{{ forum.parent|url('edit') }}">{{ forum.parent.name|e }}</a>{% else %}-{% endif %}</td>
    <td>{{ forum.position|e }}</td>
  </tr>
  {%- else %}
  <tr>
    <td colspan="3">Es existieren keine Foren, <a href="{{ href('admin', 'forum', 'new') }}">erstelle</a> jetzt die erste!</td>
  </tr>
  {%- endfor %}
  </tbody>
</table>
<a href="{{ href('admin', 'forum', 'new') }}">Neues Forum erstellen</a>
{% endblock %}
