{#
    templates.admin.ikhaya_edit
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Template for editing or creating an Ikhaya article

    :copyright: 2007 by Marian Sigler, Benjamin Wiegand.
    :license: GNU GPL.
#}
{% extends 'admin/overall.html' %}
{% set styles = ['editor.css', 'datetimefield.css'] %}
{% set scripts = ['WikiEditor.js', 'DateTime.js'] %}


{% if new %}
  {% set navigation_trace = [
      (href('forum', 'add'), 'Forum erstellen')
    ] %}
{% else %}
  {% set navigation_trace = [
      (forum|url('edit'), 'Forum „%s“ bearbeiten'|format(forum_name|e))
    ] %}
{% endif %}
{% set navigation_trace = [
    (href('admin', 'forum'), 'Foren'),
  ] + navigation_trace %}

{% block admin_content %}
<h3>{{ title_trace[0] }}</h3>

<form action="" method="post" class="forum">
  {{ h.render_form(form, 'name', 'slug','description', 'parent', 'position') }}
  <p>
    <input type="submit" value="Speichern" />
  </p>
</form>
{%- endblock %}
