{#
    admin/groups.html
    ~~~~~~~~~~~~~~~~~

    Select a group to edit.

    :copyright: 2008 by Christopher Grebs.
    :license: GNU GPL.
#}
{% extends 'admin/overall.html' %}

{% navigation_trace = [
    (href('admin', 'groups'), 'Gruppen'),
] %}

{% scripts = scripts|default([]) + ['jQuery.autocomplete.js'] %}
{% block appheader %}
<h1>Administration</h1>
<h2>Gruppen</h2>
{% endblock %}


{% block admin_content %}
{% if not groups_exist %}
<p>Aktuell existieren noch keine Gruppen. <a href="{{ href('admin', 'groups', 'new') }}">erstelle</a> die erste Gruppe.</p>
{% else %}
<p>Wähle eine Gruppe aus, die du editieren möchtest:</p>
<form action="" method="post">
  <select name="group" size="10">
  {% for group in groups %}
    <option>{{ group.name }}</option>
  {% endfor %}
  </select>
  <input type="submit" value="Auswählen" />
</form>
{% endif %}
{% if groups_exist %}
<p>
  Oder <a href="{{ href('admin', 'groups', 'new') }}">erstelle eine neue Gruppe</a>.
</p>
{% endif %}
{% endblock %}
