{#
    admin/ikhaya.html
    ~~~~~~~~~~~~~~~~~

    :copyright: 2007 by Benjamin Wiegands.
    :license: GNU GPL.
#}

{% extends 'admin/overall.html' %}

{% set navigation_trace = [
    (href('admin', 'ikhaya'), 'Ikhaya')
  ] %}
{% block appheader %}
<h1>Administration</h1>
<h2>Ikhaya</h2>
{% endblock %}

{% block admin_content %}
  <table class="admin_control">
    <tr>
      {{ admin_button(href('admin', 'ikhaya', 'articles'), 'articles', 'Artikel') }}
      {{ admin_button(href('admin', 'ikhaya', 'categories'), 'categories', 'Kategorien') }}
    </tr>
    <tr>
      {{ admin_button(href('admin', 'ikhaya', 'icons'), 'icons', 'Icons') }}
      {{ admin_button(href('admin', 'ikhaya', 'dates'), 'calendar_add', 'Termine') }}
    </tr>
  </table>
{% endblock %}
