{#
    admin/dates.html
    ~~~~~~~~~~~~~~~~

    This is the overview of the calendar entries.

    :copyright: 2008 by Benjamin Wiegand.
    :license: GNU GPL.
#}
{% extends 'admin/overall.html' %}
{% set navigation_trace = [
    (href('admin', 'ikhaya'), 'Ikhaya'),
    (href('admin', 'dates'), 'Termine'),
  ] %}
{% block appheader %}
<h1>Administration</h1>
<h2>Ikhaya</h2>
{% endblock %}

{% block admin_content %}
<h3>Termine</h3>
<table>
  <thead>
  <tr>
    <th>{{ table.get_html('title', 'Titel') }}</th>
    <th>{{ table.get_html('date', 'Datum') }}</th>
  </tr>
  </thead>
  <tbody>
  {%- for date in table.get_objects() %}
  <tr>
    <td><a href="{{ date|url('edit') }}">{{ date.title|e }}</a></td>
    <td>{{ date.date.strftime('%d.%m.%Y %H:%M') }}</td>
  </tr>
  {%- else %}
  <tr>
    <td colspan="3">Es existieren keine Termine, <a href="{{ href('admin', 'ikhaya', 'dates', 'new') }}">erstelle</a> jetzt den ersten!</td>
  </tr>
  {%- endfor %}
  </tbody>
</table>
<a href="{{ href('admin', 'ikhaya', 'dates', 'new') }}">Neuen Termin erstellen</a>
{% endblock %}
