{#
    templates.admin.ikhaya_edit
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Template for editing or creating an Ikhaya article

    :copyright: 2007 by Marian Sigler, Benjamin Wiegand.
    :license: GNU GPL.
#}
{% extends 'admin/overall.html' %}
{% set styles = ['editor.css', 'datetimefield.css'] %}
{% set scripts = ['WikiEditor.js', 'DateTime.js'] %}

{% if not article %}
  {% set navigation_trace = [
      (href('ikhaya', 'add'), 'Artikel erstellen')
    ] %}
{% else %}
  {% set navigation_trace = [
      (article|url('edit'), 'Artikel „%s“ bearbeiten'|format(article.subject|e))
    ] %}
{% endif %}
{% set navigation_trace = [
    (href('admin', 'ikhaya'), 'Ikhaya'),
    (href('admin', 'ikhaya', 'articles'), 'Artikel')
  ] + navigation_trace %}

{% block appheader %}
<h1>Administration</h1>
<h2>Ikhaya</h2>
{% endblock %}

{% block admin_content %}
<h3>{{ title_trace[0] }}</h3>

<form action="" method="post" class="ikhaya">
  {%- if article.icon %}
  <div class="icon"><img src="{{ article.icon|url }}" alt="{{ article.icon.identifier|e }}" /></div>
  {%- endif %}
  {{ h.render_form(form, 'subject', 'intro', 'text', 'author', 'category',
                         'icon', 'pub_date', 'slug', 'public') }}
  <p>
    <input type="submit" value="Speichern" />
    {%- if article %}
    <a href="{{ article|url('delete') }}">Löschen</a>
    {%- endif %}
  </p>
</form>

<script type="text/javascript">
  /* <![CDATA[ */
  var text = new WikiEditor('textarea[@name="text"]');
  var intro = new WikiEditor('textarea[@name="intro"]');
  var date = new DateTimeField('input[@name="pub_date"]');

  var intro_skipped = false;
  $('#id_intro').keyup(function () {
    var value = intro.textarea.val();
    if ((value.substr(-2) == '\n\n' || value.substr(-4) == '\r\n\r\n')
        && (! intro_skipped)) {
      $('#id_text').focus();
      intro.textarea.val(value.substr(0, value.length - 2));
      intro_skipped = true;
    }
  })

  var category_icons = {
    {%- for k, v in category_icons.iteritems() %}
    '{{ k }}': '{{ v }}',
    {%- endfor %}
  };
  
  $('#id_category').change(function () {
    var category = $('#id_category').val();
    if (category in category_icons) {
      icons = document.getElementById('id_icon');
      $('#id_icon').children().each(function(i, opt) {
        if (opt.value == category_icons[category]) {
          $('#id_icon')[0].selectedIndex = i;
        }
      })
    }
  });
  $(function() { $('#id_category').change() });
  /* ]]> */
</script>
{%- endblock %}
