{#
    templates.admin.date_edit
    ~~~~~~~~~~~~~~~~~~~~~~~~~

    Template for editing or creating an calendar entry.

    :copyright: 2007 by Benjamin Wiegand.
    :license: GNU GPL.
#}
{% extends 'admin/overall.html' %}
{% set styles = ['editor.css', 'datetimefield.css'] %}
{% set scripts = ['WikiEditor.js', 'DateTime.js'] %}

{% if not date %}
  {% set navigation_trace = [
      (href('admin', 'ikhaya', 'dates', 'new'), 'Termin erstellen')
    ] %}
{% else %}
  {% set navigation_trace = [
      (date|url('edit'), 'Termin „%s“ bearbeiten'|format(date.title|e))
    ] %}
{% endif %}
{% set navigation_trace = [
    (href('admin', 'ikhaya'), 'Ikhaya'),
    (href('admin', 'ikhaya', 'dates'), 'Termine')
  ] + navigation_trace %}

{% block admin_content %}
<h2>{{ title_trace[0] }}</h2>

<form action="" method="post" enctype="multipart/form-data">
  {{ h.render_form(form, 'title', 'description', 'date') }}
  <p>
    <input type="submit" value="Speichern" />
  </p>
</form>

<script type="text/javascript">
  /* <![CDATA[ */
  var date = new DateTimeField('input[@name="date"]');
  var text = new WikiEditor('textarea[@name="description"]');
  /* ]]> */
</script>
{% endblock %}
