{#
    admin/index.html
    ~~~~~~~~~~~~~~~~

    This page shows the index page for the administration center.

    :copyright: 2007 by Christopher Grebs.
    :license: GNU GPL.
#}

{% extends 'admin/overall.html' %}

{% block admin_content %}
  <div class="admin_control">
    <ul>
      {{ admin_button(href('admin', 'config'), 'configuration', 'Allgemeine Konfiguration') }}
      {{ admin_button(href('admin', 'users'), 'users', 'Benutzerkonfiguration') }}
      {{ admin_button(href('admin', 'pages'), 'pages', 'Statische Seiten') }}
      {{ admin_button(href('admin', 'ikhaya'), 'ikhaya', 'Ikhaya') }}
      {{ admin_button(href('admin', 'planet'), 'planet', 'Planet') }}
      {{ admin_button(href('admin', 'forum'), 'forum', 'Forum') }}
      {{ admin_button(href('admin', 'groups'), 'groups', 'Gruppenkonfiguration') }}
      {{ admin_button(href('admin', 'styles'), 'styles', 'Markup-Stylesheets') }}
      {{ admin_button(href('admin', 'bugs/usererrors'), 'bugs', 'User-Fehlermeldungen') }}
    </ul>
  </div>
{% endblock %}
