{#
  admin/overall.html
  ~~~~~~~~~~~~~~~~~~

  Basic layout for all admin-pages

  :copyright: 2008 by Christopher Grebs.
  :license: GNU GPL.
#}
{% extends 'overall.html' %}

{% set active_app = 'portal' %}
{% set navi_type  = 'both' %}
{% set styles = ['admin.css'] + styles %}
{% set navigation_trace = [
    (href('admin'), 'Adminbereich')
  ] + navigation_trace %}
{% for i in navigation_trace %}
  {% set title_trace = [i[1]] + title_trace! %}
{% endfor %}

{% macro admin_button(link, icon, name) %}
  <td>
    <a href="{{ link }}">
      <img src="{{ href('static', 'img', 'admin', 'category_%s.png'|format(icon)) }}" alt="{{ name }}" /><br />
      {{ name }}
    </a>
  </td>
{% endmacro %}

{% block appheader %}
<h1>Administration</h1>
<h2>Übersicht</h2>
{% endblock %}

{% block content %}
  {% block admin_content %}

  {% endblock %}
{% endblock %}

{% block navigation %}
  {% block admin_navigation %}
  <h3>Übersicht</h3>
  <ul>
    <li><a href="{{ href('admin', 'config') }}">Allgemein</a></li>
    <li><a href="{{ href('admin', 'users') }}">Benutzerkonfiguration</a></li>
    <li><a href="{{ href('admin', 'pages') }}">Statische Seiten</a></li>
    <li><a href="{{ href('admin', 'ikhaya') }}">Ikhaya</a></li>
    <li><a href="{{ href('admin', 'planet') }}">Planet</a></li>
    <li><a href="{{ href('admin', 'forum') }}">Forum</a></li>
    <li><a href="{{ href('admin', 'groups') }}">Gruppenkonfiguration</a></li>
  </ul>
  <h3>Planet</h3>
  <ul>
    <li><a href="{{ href('admin', 'planet', 'new') }}">Blog eintragen</a></li>
  </ul>
  <h3>Forum</h3>
  <ul>
    <li><a href="{{ href('admin', 'forum', 'new') }}">Forum erstellen</a></li>
  </ul>
  <h3>Statische Seiten</h3>
  <ul>
    <li><a href="{{ href('admin', 'pages', 'new') }}">Seite erstellen</a></li>
  </ul>
  <h3>Ikhaya</h3>
  <ul>
    <li><a href="{{ href('admin', 'ikhaya', 'articles', 'new') }}">Artikel erstellen</a></li>
    <li><a href="{{ href('admin', 'ikhaya', 'categories', 'new') }}">Kategorie erstellen</a></li>
    <li><a href="{{ href('admin', 'ikhaya', 'icons', 'new') }}">Icon erstellen</a></li>
    <li><a href="{{ href('admin', 'ikhaya', 'dates', 'new') }}">Termin erstellen</a></li>
  </ul>
  {% endblock %}
{% endblock %}
