{#
    admin/pages_edit.html
    ~~~~~~~~~~~~~~~~~~~~~

    Formular for editing or writing a new page.

    :copyright: 2008 by Christopher Grebs, Benjamin Wiegand.
    :license: GNU GPL.
#}
{%- extends 'admin/overall.html' %}
{% from 'macros.html' import render_form %}
{% if page %}
  {% navigation_trace = [
      (page|url('edit'), 'Seite „%s“ bearbeiten'|format(page.title))
    ] %}
{% else %}
  {% navigation_trace = [
      (href('admin', 'pages', 'new'), 'Neue Seite erstellen')
    ] %}
{% endif %}
{% navigation_trace = [
    (href('admin', 'pages'), 'Statische Seiten')
  ] + navigation_trace|default([]) %}
{% block admin_content %}
  <h3>{{ title_trace[0] }}</h3>
  <form action="" method="post">
    {{ render_form(form, 'title', 'key', 'content') }}
    <p>
      <input type="submit" value="Speichern" />
    </p>
  </form>
{% endblock %}
