{#
    templates.admin.tcaptcha_edit
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Template for editing or creating a text captcha.

    :copyright: 2009 by Christopher Grebs.
    :license: GNU GPL.
#}
{%- extends 'admin/overall.html' %}
{% from 'macros.html' import render_form %}

{% set navigation_trace = [
    (href('admin', 'tcaptchas'), 'Text Captchas')
  ] %}

{% block admin_content %}
<h2>{{ title_trace[0] }} (<a href="{{ navigation_trace[-1][0] }}">Übersicht</a>)</h2>

<form action="" method="post" enctype="multipart/form-data">
  <p class="note"><strong>Hinweis:</strong> „{{ form.multiple_votes.label }}” und „{{ form.text_votes.label }}” dürfen nicht zugleich ausgewählt werden. Sofern „{{ form.multiple_votes.label }}” ausgewählt wird werden die Antworten nach Komma (',') getrennt aufgezählt.</p>
  {{ render_form(form, ['question', 'answers', 'correct_answers', 'multiple_votes', 'text_votes']) }}
  <p>
    <input type="submit" value="Speichern" />
  </p>
</form>
{% endblock %}
