{#
    admin/tcaptchas.html
    ~~~~~~~~~~~~~~~~~~~~

    This is the overview of the text captcha questions.

    :copyright: 2009 by Christopher Grebs.
    :license: GNU GPL.
#}
{%- extends 'admin/overall.html' %}
{% set navigation_trace = [
    (href('admin', 'tcaptchas'), 'Text Captchas'),
  ] %}
{% block appheader %}
<h1><a href="{{ href('admin') }}">Administration</a></h1>
<h2><a href="{{ href('admin', 'tcaptchas') }}">Text Captchas</a></h2>
{% endblock %}

{% block admin_content %}
<h3>Text Captchas</h3>
<table class="tcaptchas">
  <thead>
  <tr>
    <th class="id">ID</th>
    <th class="question">Frage</th>
  </tr>
  </thead>
  <tbody>
  {%- for cap in captchas %}
  <tr>
    <td class="id"><a href="{{ cap|url }}">{{ cap.id|e }}</a></td>
    <td class="question"><a href="{{ cap|url }}">{{ cap.question|e }}</td>
  </tr>
  {%- else %}
  <tr>
    <td colspan="2">Es wurden noch keine Veranstaltungen eingetragen, <a href="{{ href('admin', 'tcaptchas', 'new') }}">erstelle</a> jetzt die erste!</td>
  </tr>
  {%- endfor %}
  </tbody>
</table>
<p class="linklist">
  <a href="{{ href('admin', 'tcaptchas', 'new') }}">Neue Frage eintragen</a>
</p>
{{ pagination.generate() }}
{% endblock %}
