{#
    admin/new_user.html
    ~~~~~~~~~~~~~~~~~~~

    Create a new user.

    :copyright: 2008 by Christopher Grebs, Benjamin Wiegand.
    :license: GNU GPL.
#}
{%- extends 'admin/overall.html' %}
{% from 'macros.html' import render_form %}
{% set navigation_trace = [
    (href('admin', 'users'), 'Benutzer'),
    (href('admin', 'users', 'new'), 'Benutzer erstellen')
] %}

{% block appheader %}
<h1><a href="{{ href('admin') }}">Administration</a></h1>
<h2><a href="{{ href('admin', 'users') }}">Benutzer</a></h2>
{% endblock %}


{% block admin_content %}
<form action="" method="post" id="user_edit_form">
  <h3>Neuen Benutzer erstellen</h3>
  <dl>
    {{ render_form(form, ['username', 'password', 'email'], inline=true) }}
    <dt>Autentifizieren:</dt>
    <dd>
      {{ form.authenticate }}
      <span class="note">{{ form.authenticate.help_text }}</span>
    </dd>
  </dl>
  <br />
  <p class="note">
    Weitere Einstellungen sind verfügbar, nachdem der Benutzer gespeichert wurde.
  </p>
  <p>
    <input type="submit" value="Speichern" />
  </p>
</form>
{% endblock %}
