{#
    admin/errors.html
    ~~~~~~~~~~~~~~~

    This is the overview of the reported errors.

    :copyright: 2008 by Marian Sigler, Christopher Grebs.
    :license: GNU GPL.
#}
{% extends 'admin/overall.html' %}
{% set navigation_trace = [
    (href('admin', 'bugs'), 'Bugs'),
    (href('admin', 'bugs/usererrors'), 'Fehlermeldungen von Usern'),
  ] %}
{% block appheader %}
<h1>Administration</h1>
<h2>Portal</h2>
{% endblock %}

{% block admin_content %}
<h3>User-Fehlermeldungen</h3>
<table>
  {% if errors %}
  {%- for error in errors %}
  <tr>
    <th style="font-weight: normal">
      {%- if error.done %}<img src="{{ href('static', 'img', 'check.png') }}" alt="Erledigt" /> {% endif %}
      <strong>{{ error.title|e }}</strong>, berichtet {{ error.date|specificdatetimeformat(true) }}
      {%- if error.reporter %} von <a href="{{ error.reporter|url }}">{{ error.reporter.username|e }}</a>{% endif %}
    </th>
    <td>
      {#%- if error.assigned %#}
      {%- if error.assigned_to %}
      <a href="{{ error.assigned_to|url }}">{{ error.assigned_to.username|e }}</a> erledigt das | 
      {%- endif %}
      <a href="{{ error|url('assigntome') }}">Ich erledige das</a> |
      {%- if error.done %}
      <a href="{{ error|url('not_done') }}">Doch nicht erledigt</a>
      {%- else %}
      <a href="{{ error|url('done') }}">Erledigt!</a>
      {%- endif %}
    </td>
  </tr>
  <tr>
    <td>
      <p><strong>URL:</strong> <a href="{{ error.url|e }}">{{ error.url|e }}</a></p>
      <p>{{ error.text }}</p>
    <td>
  </tr>
  {%- endfor %}
  {% else %}
  <strong>Es sind derzeit keine Fehlermeldungen vorhanden. <img src="{{ href('static', 'img/icons/smiley.png') }}" /></strong>
  {% endif %}
</table>
{%- if show_all %}
<p><a href="{{ href('admin', 'bugs', 'usererrors') }}">Nur noch nicht erledigte Fehlermeldungen anzeigen</a></p>
{%- else %}
<p><a href="{{ href('admin', 'bugs', 'usererrors', 'all') }}">Auch erledigte Fehlermeldungen anzeigen</a></p>
{%- endif %}
{% endblock %}
