{#
    admin/users.html
    ~~~~~~~~~~~~~~~~

    user administration interface.

    :copyright: 2008 by Christopher Grebs.
    :license: GNU GPL.
#}
{%- extends 'admin/overall.html' %}
{% set navigation_trace = [
    (href('admin', 'users'), 'Benutzer'),
] %}
{% set scripts = ['jQuery.autocomplete.js'] %}

{% block appheader %}
<h1><a href="{{ href('admin') }}">Administration</a></h1>
<h2><a href="{{ href('admin', 'users') }}">Benutzer</a></h2>
{% endblock %}


{% block admin_content %}
<p>Wähle den Benutzer aus, den du editieren möchtest:</p>
<form action="" method="post">
  <p>
    <input type="text" id="user_query" name="user" />
    <input type="submit" value="Auswählen" />
    <span class="help_text">Du kannst statt einem Benutzernamen auch eine E-Mail-Adresse eingeben.</span>
  </p>

  <p>
    Oder: <a href="{{ href('admin', 'users', 'special_rights') }}">Zeige Benutzer mit Sonderrechten</a> | <a href="{{ href('admin', 'users', 'new') }}">erstelle einen neuen Benutzer</a>
  </p>
</form>

<script type="text/javascript">
  /* <![CDATA[ */
  (function () {
    $('#user_query').autocomplete("/?__service__=admin.get_user_autocompletion", {
      delay: 40, maxItemsToShow: 15, cacheLength: 10});
  })();
  /* ]]> */
</script>
{% endblock %}
