{#
    admin/users.html
    ~~~~~~~~~~~~~~~~

    user administration interface.

    :copyright: 2008 by Christopher Grebs.
    :license: GNU GPL.
#}
{% extends 'admin/overall.html' %}
{% navigation_trace = [
    (href('admin', 'users'), 'Benutzer'),
] %}
{% scripts = scripts|default([]) + ['jQuery.autocomplete.js'] %}

{% block appheader %}
<h1>Administration</h1>
<h2>Benutzer</h2>
{% endblock %}


{% block admin_content %}
<p>Wähle den Benutzer aus, den du editieren möchtest:</p>
<form action="" method="post">
  <p>
    <input type="text" id="user_query" name="user" />
    <input type="submit" value="Auswählen" />
  </p>

  <p>
    Oder <a href="{{ href('admin', 'users', 'new') }}">erstelle einen neuen Benutzer</a>
  </p>
</form>

<script type="text/javascript">
  /* <![CDATA[ */
  (function () {
    $('#user_query').autocomplete("/?__service__=admin.get_user_autocompletion", {
      delay: 40, maxItemsToShow: 15, cacheLength: 10});
  })();
  /* ]]> */
</script>
{% endblock %}
