{#
    forum/_attachments.html
    ~~~~~~~~~~~~~~~~~~~~~~~

    A macro that renders the attachments of a post.
    :Parameters:

        attachments
            This has to be a list of the attachments that belong to the current
            post.

    :copyright: 2007 by Benjamin Wiegand.
    :license GNU GPL
    
#}
{%- if attachments %}
<table class="attachments">
  {%- for att in attachments %}
  <tr>
    <th colspan="3">{{ att.name|e }}</th>
  </tr>
  {%- if att.comment %}
  <tr>
    <td colspan="3" class="comment">
      {{ att.comment|e }}
    </td>
  </tr>
  {%- endif %}
  <tr>
    <td>Dateigröße:</td>
    <td>{{ att.size|filesizeformat }}</td>
    <td>
      {{ att.html_representation }}
    </td>
  </tr>
  {%- endfor %}
</table>
{%- endif %}
