{#
    forum/_attachment_form.html
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~

    A macro that renders the formular for uploading new attachments.
    :Parameters:

        form
            This has to be an instance of the `AddAttachmentForm.`
        attachments
            This has to be a list of the attachments that already belong to the
            current post.

    :copyright: 2007 by Benjamin Wiegand.
    :license GNU GPL
    
#}
{%- if attachments %}
<ul>
  {%- for att in attachments %}
  <li>
    {{ att.name|e }} - {{ att.size|filesizeformat }}
    <button type="submit" name="delete_attachment" value="{{ att.id }}">Löschen</button>
  </li>
  {%- endfor %}
</ul>
{%- endif %}
<p><label for="id_attachment">Dateianhang:</label>
  {{ form.attachment }}{{ h.field_errors(form.errors.attachment) }}</p>
<p><label for="id_filename">Umbenennen auf:</label>
  {{ form.filename }}{{ h.field_errors(form.errors.filename) }}</p>
<p><label for="id_text">Beschreibung:</label>
  {{ form.description }}{{ h.field_errors(form.errors.description) }}</p>
<p>{{ form.override }} <label for="id_override">Bestehenden Anhang
  gleichen Namens überschreiben</label></p>
<p><input type="submit" value="Anhang hochladen" name="attach" /></p>
