{#
    forum/_attachments.html
    ~~~~~~~~~~~~~~~~~~~~~~~

    A macro that renders the attachments of a post.
    :Parameters:

        attachments
            This has to be a list of the attachments that belong to the current
            post.

    :copyright: 2007-2008 by Benjamin Wiegand, Christopher Grebs.
    :license GNU GPL
    
#}
{%- if attachments %}
<hr />
<dl class="attachments">
  {%- for att in attachments %}
  <dt>{{ att.name|e }} ({{ att.size|filesizeformat }})</dt>
  {% if att.comment %}
  <dd class="comment">{{ att.comment|e }}</dd>
  {% endif %}
  <dd>{{ att.html_representation }}</dd>
  {% endfor %}
</dl>
{%- endif %}
