{% macro render_forum(row) %}
  <tr class="entry category-{{ row.forum_parent_id }}">
    <td class="icon">
      {% if get_read_status(row.forum_id) %}
        <img src="{{ href('static', 'img', 'forum/forum.png') }}" alt="" />
      {% else %}
        <img src="{{ href('static', 'img', 'forum/forum_unread.png') }}" alt="" />
      {% endif %}
    </td>
    <td class="forum">
      <p class="name"><a href="{{ forum|url }}" class="title">{{ row.forum_name|e }}</a></p>
      {%- if row.forum_description %}
      <p class="description">{{ row.forum_description|e }}</p> 
      {%- endif %}
      {%- if row.forum_children %}
      <p class="subforums">Subforen:
      {%- for subforum in row.forum_children %}
        <a href="{{ subforum|url }}">{{ subrow.forum_name|e }}</a>{% if not loop.last %}, {% endif %}
      {%- endfor %}
      </p>
      {%- endif %}
    </td>
    <td class="topic_count" title="Anzahl der Themen">{{ row.forum_topic_count }}</td>
    <td class="post_count" title="Anzahl der Beiträge">{{ row.forum_post_count }}</td>
    <td class="last_post">
    {%- if row.last_post_id -%}
    <a href="{{ href('forum', 'post', row.last_post_id) }}">{{ row.last_post_pub_date|datetimeformat }}</a><br />
    von <a href="{{ href('portal', 'user', row.last_post_author_username) }}">{{ row.last_post_author_username|e }}</a>
    {%- else %}---
    {%- endif %}</td>
  </tr>
{% endmacro %}

{% macro topic_icon(row) -%}
  {% set is_read = get_read_status(row.last_post_id) -%}
  <img src="
  {{- href('static', 'img', 'forum', 'topic' ) -}}
  {%- if not is_read %}-new{% endif -%}
  {%- if row.topic_solved %}-solved{% endif -%}
  {#- TODO: watched -#}
  {%- if row.topic_locked %}-locked{% endif -%}
  {%- if row.topic_hidden %}-hidden{% endif -%}
  {%- if row.topic_reported %}-reported{% endif -%}
  .png" alt="
  {%- if not is_read %}ungelesenes {% endif -%}
  {%- if row.topic_solved %}gelöstes {% endif -%}
  {#- TODO: watched -#}
  {%- if row.topic_locked %}gesperrtes {% endif -%}
  {%- if row.topic_hidden %}verstecktes {% endif -%}
  {%- if row.topic_reported %}gemeldetes {% endif -%}
  Thema" />
{%- endmacro %}
