{#
    forum/edit.html
    ~~~~~~~~~~~~~~~

    This page shows displays a formular where the user can create either
    create a new thread or write / edit a post. 

    :copyright: 2007 by Maximilian Trescher, ostcar (ubuntuusers.de),
                        Benjamin Wiegand
    :license GNU GPL
    
#}

{% extends 'forum/page.html' %}
{% if isnewtopic %}
  {% set title_trace = ['Neues Thema in „%s“'|format(forum.name|e)] %}
  {% set navigation_trace =  [
    (forum|url, forum.name),
    (forum|url('newtopic'), 'Neues Thema')
    ] %}
{% elif isnewpost %}
  {% set title_trace = ['Neue Antwort in „%s“'|format(topic.title|e)] %}
  {% set navigation_trace =  [
    (forum|url, forum.name),
    (topic|url, topic.title),
    (topic|url('reply'), 'Neue Antwort')
    ] %}
{% elif isedit %}
  {% set title_trace = ['Posting bearbeiten']%}
{% endif %}
{% set scripts = ['WikiEditor.js', 'NewTopic.js'] %}
{% set styles = ['editor.css'] %}

{% block forum_content %}
  <form action="" method="post" enctype="multipart/form-data" class="post_editor">
    <h2>{{ title_trace[0] }}</h2>
    <dl>
      {%- if isnewtopic %}
      {%- if not article %}
      <dt>Titel:</dt>
      <dd>{{ form.title }}{{ h.field_errors(form.errors.title) }}</dd>
      <dt>Ubuntu-Version:</dt>
      <dd>
        {{ form.ubuntu_distro }}{{ h.field_errors(form.errors.ubuntu_distro) }}
        {{ form.ubuntu_version }}{{ h.field_errors(form.errors.ubuntu_version) }}
      </dd>
      {%- else %}
      <dd><input type="hidden" name="title" value="{{ article.name }}" /></dd>
      {%- endif %}
      {%- endif %}
      <dt class="text">Text:</dt>
      <dd class="text">{{ form.text }}{{ h.field_errors(form.errors.text) }}</dd>
      {# when enter is pressed the first submit button is used #}
      {# XXX: I'm sure that a better sollution exists for this #}
      {# then put it here :) #}
      <dd style="display: none"><input type="submit" value="Absenden" name="send" /></dd>
      {%- if isnewtopic or isfirstpost %}
      <dt class="collapse">Umfragen:</dt>
      {%- if polls %}
      <dd>Bestehende Umfragen:
        <ul>
          {%- for poll in polls %}
          <li>{{ poll.question|e }} <button name="delete_poll" value="{{ poll.id }}">Löschen</button></li>
          {%- endfor %}
        </ul>
      </dd>
      {%- endif %}
      <dd>Frage: {{ poll_form.question }} {{ h.field_errors(poll_form.errors.question) }}</dd>
      <dd>{{ poll_form.multiple }} <label for="id_multiple">Mehrfachantworten erlauben</label></dd>
      {%- for option in options %}
      <dd class="newtopic_polls_replies">Antwort {{ loop.index }}: <input type="text" name="options" value="{{ option }}" />
        {%- if loop.last %}
        <input type="submit" name="add_option" value="Weitere Antwort" id="id_add_option" />
        {%- endif -%}
      </dd>
      {%- endfor %}
      <dd><input type="submit" name="add_poll" value="Umfrage hinzufügen" /></dd>
      {%- endif %}
      {%- if can_attach %}
      <dt class="collapse">Dateianhänge:</dt>
      <dd>{{ h.attachment_form(attach_form, attachments) }}</dd>
      {%- endif %}
      {%- if isnewtopic or isfirstpost %}
      <dt class="collapse">Optionen:</dt>
      <dd>{{ form.sticky }} <label for="id_sticky">Thema soll „klebrig“ sein</label></dd>
      {%- endif %}
    </dl>
    <p>
      {{ form.att_ids }}
      {{ form.polls }}
      {{ h.field_errors(form.errors.__all__) }}
      <input type="submit" value="Speichern" name="send" />
      <input type="submit" value="Vorschau" name="preview" />
      <input type="submit" value="Abbrechen" name="cancel" />
    </p>
    {%- if preview %}
    <div class="preview_wrapper">
      <h2 class="title">Vorschau</h2>
      <div class="preview">{{ preview }}</div>
    </div>
    {%- endif %}
  </form>
  <script type="text/javascript">
    /* <![CDATA[ */
    var editor = new WikiEditor('textarea[@name="text"]', 'forum');
    (function() {
      var
        editor = $('textarea[@name="text"]'),
        output = $('<div class="preview" />')
      var preview = $('<div class="preview_wrapper" />')
        .hide()
        .append('<h2 class="title">Vorschau</h2>')
        .append(output);

      $('form input[@name="preview"]').click(function() {
        preview.hide();
        $.post('/?__service__=wiki.render_preview', {
          text: editor.val()
        }, function(data) {
          output.html(data);
          preview.slideDown('fast');
        });
        return false;
      }).parent().parent().parent().append(preview);
    })();
    /* ]]> */
  </script>
  {%- if isnewpost %}
  <table class="topic">
    <thead>
      <tr><th colspan="2">Letzte Einträge</th></tr>
    </thead>
    <tbody>
      {%- for post in posts %}
      <tr id="post-{{ post.id }}">
        <td class="author">
          <p class="username"><a href="{{ post.author|url }}">{{ post.author|e }}</a></p>
          <p>Beiträge: {{ post.author.post_count }}</p>
          <p>Anmeldungsdatum: {{ post.author.date_joined|dateformat }}</p>
        </td>
        <td class="post">
          <div class="postinfo">
            <img src="{{ href('static', 'img', 'icon_minipost.gif') }}" alt="Beitrag" />
            Verfasst: {{ post.pub_date.strftime('%d.%m.%Y, %H:%M') }}
          </div>
          {{ post.rendered_text }}
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- endif %}
{% endblock %}
