{#
    forum/edit.html
    ~~~~~~~~~~~~~~~

    This page shows displays a formular where the user can create either
    create a new thread or write / edit a post. 

    :copyright: 2007 by Maximilian Trescher, ostcar (ubuntuusers.de),
                        Benjamin Wiegand
    :license GNU GPL
    
#}

{%- extends 'forum/page.html' %}
{% if not topic %}
  {% set title_trace = ['Neues Thema in „%s“'|format(forum.name|e)] %}
  {% set navigation_trace =  [
    (forum|url, forum.name),
    (forum|url('newtopic'), 'Neues Thema')
    ] %}
{% elif topic and not post %}
  {% set title_trace = ['Neue Antwort in „%s“'|format(topic.title|e)] %}
  {% set navigation_trace =  [
    (forum|url, forum.name),
    (topic|url, topic.title),
    (topic|url('reply'), 'Neue Antwort')
    ] %}
{% else %}
  {% set title_trace = ['Posting bearbeiten']%}
{% endif %}
{% set scripts = ['WikiEditor.js', 'NewTopic.js'] %}
{% set styles = ['editor.css'] %}

{% block forum_content %}
  <form action="" method="post" enctype="multipart/form-data" class="post_editor">
    <h2>{{ title_trace[0] }}</h2>
    <dl>
      {%- if isnewtopic or isfirstpost %}
      {%- if not article %}
      <dt>Titel:</dt>
      <dd>{{ form.title }}{{ form.errors.title }}</dd>
      <dt>Ubuntu-Version:</dt>
      <dd>
        {{ form.ubuntu_distro }}{{ form.errors.ubuntu_distro }}
        {{ form.ubuntu_version }}{{ form.errors.ubuntu_version }}
      </dd>
      {%- else %}
      <dd><input type="hidden" name="title" value="{{ article.name|e }}" /></dd>
      {%- endif %}
      {%- endif %}
      <dt class="text">Text:</dt>
      <dd class="text">{{ form.text }}{{ form.errors.text }}</dd>
      {# when enter is pressed the first submit button is used #}
      {# XXX: I'm sure that a better sollution exists for this #}
      {# then put it here :) #}
      <dd style="display: none"><input type="submit" value="Absenden" name="send" /></dd>
      {%- if (isnewtopic or isfirstpost) and can_create_poll %}
      <dt class="collapse">Umfragen:</dt>
      {%- if polls %}
      <dd>Bestehende Umfragen:
        <ul>
          {%- for poll in polls or () %}
          <li>{{ poll.question|e }} <button name="delete_poll" value="{{ poll.id }}">Löschen</button></li>
          {%- endfor %}
        </ul>
      </dd>
      {%- endif %}
      <dd>Frage: {{ poll_form.question }} {{ poll_form.errors.question }}</dd>
      <dd>{{ poll_form.multiple }} <label for="id_multiple">Mehrfachantworten erlauben</label></dd>
      {%- for option in options %}
      <dd class="newtopic_polls_replies">Antwort {{ loop.index }}: <input type="text" name="options" value="{{ option }}" />
        {%- if loop.last %}
        <input type="submit" name="add_option" value="Weitere Antwort" id="id_add_option" />
        {%- endif -%}
      </dd>
      {%- endfor %}
      <dd>Dauer der Umfrage: {{ poll_form.duration }} Tage {{ poll_form.errors.duration }}</dd>
      <dd class="note">Lasse dieses Feld leer, wenn die Umfrage unendlich lange dauern soll.</dd>
      <dd><input type="submit" name="add_poll" value="Umfrage hinzufügen" /></dd>
      {%- endif %}
      {%- if can_attach %}
      <dt class="collapse">Dateianhänge:</dt>
      <dd>
        {%- if attachments %}
        <ul>
          {%- for att in attachments %}
          <li>
            {{ att.name|e }} - {{ att.size|filesizeformat(true) }}
            <button type="submit" name="delete_attachment" value="{{ att.id }}">Löschen</button>
          </li>
          {%- endfor %}
        </ul>
        {%- endif %}
        <p><label for="id_attachment">Dateianhang:</label>
          {{ attach_form.attachment }}{{ attach_form.errors.attachment }}</p>
        <p><label for="id_filename">Umbenennen in:</label>
          {{ attach_form.filename }}{{ attach_form.errors.filename }}</p>
        <p><label for="id_text">Beschreibung:</label>
          {{ attach_form.comment }}{{ attach_form.errors.comment }}</p>
        <p>{{ attach_form.override }} <label for="id_override">Bestehenden Anhang
          gleichen Namens überschreiben</label></p>
        <p><input type="submit" value="Anhang hochladen" name="attach" /></p>
      </dd>
      {%- endif %}
      {%- if can_sticky and (isnewtopic or isfirstpost) %}
      <dt class="collapse">Optionen:</dt>
      <dd>{{ form.sticky }} <label for="id_sticky">Thema soll „klebrig“ sein</label></dd>
      {%- endif %}
    </dl>
    <p>
      <input type="hidden" name="attachments" id="id_attachments" value="
      {%- for att in attachments or () %}{% if not loop.first %},{% endif %}{{ att.id }}
      {% endfor %}">
      <input type="hidden" name="polls" id="id_polls" value="
      {%- for poll in polls or () %}{% if not loop.first %},{% endif %}{{ poll.id }}
      {%- endfor %}">
      {{ form.errors.__all__ }}
      <input type="submit" value="Veröffentlichen" name="send" />
      <input type="submit" value="Vorschau" name="preview" />
      <input type="submit" value="Abbrechen" name="cancel" />
    </p>
    {%- if preview %}
    <div class="preview_wrapper">
      <h2 class="title">Vorschau</h2>
      <div class="preview">{{ preview }}</div>
    </div>
    {%- endif %}
  </form>
  <script type="text/javascript">
    /* <![CDATA[ */
    var editor = new WikiEditor('textarea[@name="text"]', 'forum');
    (function() {
      var
        editor = $('textarea[@name="text"]'),
        output = $('<div class="preview" />')
      var preview = $('<div class="preview_wrapper" />')
        .hide()
        .append('<h2 id="preview" class="title">Vorschau<\/h2>')
        .append(output);

      $('form input[@name="preview"]').click(function() {
        $('body, input, textarea').css('cursor', 'progress');
        preview.hide();
        $.post('/?__service__=wiki.render_preview', {
          text: editor.val()
        }, function(data) {
          output.html(data);
          preview.slideDown('fast');
          $('body, input, textarea').css('cursor', 'auto');
          if (document.location.href.match(/#preview/)) {
            document.location.href = document.location.href;
          } else {
            document.location.href += '#preview';
          }
        });
        return false;
      }).parent().parent().parent().append(preview);
    })();
    /* ]]> */
  </script>
  {%- if not isnewtopic %}
  <table class="topic" style="position:relative; top:11px">
    <thead>
      <tr><th id="recent_posts" colspan="2">Letzte Einträge</th></tr>
    </thead>
  </table>
  <table class="topic">
    <tbody>
      {%- for post in posts %}
      <tr id="post-{{ post.id }}">
        <td class="author">
          <p class="username"><a href="{{ post.author|url }}">{{ post.author|e }}</a></p>
          <p>Beiträge: {{ post.author.post_count }}</p>
          <p>Anmeldungsdatum: <br />{{ post.author.date_joined|dateformat }}</p>
        </td>
        <td class="post">
          <div class="postinfo">
            <img src="{{ href('static', 'img', 'icon_minipost.gif') }}" alt="Beitrag" />
            Verfasst: {{ post.pub_date|specificdatetimeformat }}
          </div>
          {{ post.rendered_text }}
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- endif %}
{% endblock %}
