{#
    forum/forum.html
    ~~~~~~~~~~~~~~~~

    This template shows a forum with all subforums and topics inside.

    :copyright: 2007 by Benjamin Wiegand.
    :license: GNU GPL.
#}
{%- extends 'forum/page.html' %}
{% from 'forum/_forum.html' import render_forum, topic_icon with context %}

{% title_trace = [forum.name|e] %}
{% name = 'Forum „%s“ - ' % forum.name|e %}
{% feeds = [
  (name + 'Nur Überschrift', href('forum', 'feeds/forum', forum.slug, 'title/20')),
  (name + 'Nur Einleitung', href('forum', 'feeds/forum', forum.slug, 'short/20')),
  (name + 'Ganzer Beitrag', href('forum', 'feeds/forum', forum.slug, 'full/20'))
] %}
{% navigation_trace = [] %}
{% for parent in forum.parents %}
  {% navigation_trace.append([parent|url, parent.name]) %}
{% endfor %}
{% navigation_trace.append([forum|url, forum.name]) %}

{% block search_areas %}
  <option value="current_forum" selected="selected">Dieses Forum</option>
{% endblock %}

{% block forum_content %}
  <table class="forum">
    <thead>
      <tr><th colspan="5" class="category">{{ forum.name|e }}</th></tr>
      <tr>
        <td colspan="5">
          {%- if forum.description %}
          <p class="description">{{ forum.description|e }}</p>
          {%- endif %}
          {{ pagination.generate('right') }}
          <p class="actions">
            <a href="{{ forum|url('newtopic') }}">Neues Thema</a> | 
            {%- if is_subscribed %}
            <a href="{{ forum|url('unsubscribe') }}" class="action action_subscribe">de-abonnieren</a>
            {%- else %}
            <a href="{{ forum|url('subscribe') }}" class="action action_subscribe">abonnieren</a>
            {%- endif %}
          </p>
        </td>
      </tr>
    </thead>
    <tbody>
    {%- for subforum in subforums %}
      {{ render_forum(subforum) }}
    {%- endfor %}
    <tr>
      <th class="topic" colspan="2">Thema</th>
      <th class="view_count">Aufrufe</th>
      <th class="last_post" colspan="2">Antworten</th>
    </tr>
    {%- for topic in topics %}
      {%- if topic.hidden and not check_privilege(privileges, 'moderate') %}
      <tr class="deleted">
        <td class="icon">
          <img src="{{ href('static', 'img', 'forum', 'topic-deleted.png') }}" alt="" />
        </td>
        <td colspan="5">
          Dieses Thema wurde von einem Moderator gelöscht.
        </td>
      </tr>
      {%- else %}
      <tr{% if topic.hidden or topic.reported %} class="{% if topic.hidden %}hidden {% endif %}{% if topic.reported %}reported{% endif %}"{% endif %}>
        <td class="icon">
          {{ topic_icon(topic) }}
        </td>
        <td class="topic">
          <p class="topic_title">
            {%- if topic.sticky %}<strong>Wichtig: </strong>{% endif -%}
            {%- if topic.has_poll %} <strong>[Umfrage]</strong> {% endif -%}
            {%- if topic.hidden %} [Verborgen] {% endif -%}
            {%- if topic.reported %} [Gemeldet] {% endif -%}
            <a href="{{ topic|url }}">{{- topic.title|e -}}</a>
          </p>
          <p class="description">
            von <a href="{{ topic.author|url }}">{{ topic.author.username|e }}</a>
            {%- if topic.paginated %} &#160; &#160; [
              Gehe zu Seite {{ topic.get_pagination() }}
            ]{% endif -%}
          </p>
        </td>
        <td class="view_count">{{ topic.view_count }}</td>
        <td class="post_count">{{ topic.post_count - 1 }}</td>
        <td class="last_post">{% if topic.last_post_id %}
          <a href="{{ topic.last_post|url}}" class="date">{{
              topic.last_post.pub_date|datetimeformat }}</a><br />
          von <a href="{{ topic.last_post.author|url}}">{{ topic.last_post.author }}</a>
        {%- else %}---{% endif %}</td>
      </tr>
      {%- endif %}
    {% else %}
      <tr>
        <td colspan="5">
          Es existieren noch keine Themen. <a href="{{ forum|url('newtopic') }}">Erstelle</a> doch das Erste!</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="forum_offset_pagination">
    {{ pagination.generate() }}
  </div>
{% endblock %}
