{#
    forum/forum.html
    ~~~~~~~~~~~~~~~~

    This template shows a forum with all subforums and topics inside.

    :copyright: 2007 by Benjamin Wiegand.
    :license: GNU GPL.
#}
{%- extends 'forum/page.html' %}
{% from 'forum/_forum.html' import render_forum, topic_icon with context %}

{% set title_trace = [forum.name|e] %}
{% set name = 'Forum „%s“ - ' % forum.name|e %}
{% set feeds = [
  (name + 'Nur Überschrift', href('forum', 'feeds/forum', forum.slug, 'title/20')),
  (name + 'Nur Einleitung', href('forum', 'feeds/forum', forum.slug, 'short/20')),
  (name + 'Ganzer Beitrag', href('forum', 'feeds/forum', forum.slug, 'full/20'))
] %}
{% set navigation_trace = [] %}
{% for parent in forum.parents|reverse %}
  {% do navigation_trace.append([parent|url, parent.name]) %}
{% endfor %}
{% do navigation_trace.append([forum|url, forum.name]) %}

{% block search_areas %}
  <option value="current_forum" selected="selected">Dieses Forum</option>
{% endblock %}

{% block forum_content %}
  <table class="forum">
    <thead>
      <tr><th colspan="5" class="category">{{ forum.name|e }}</th></tr>
      <tr>
        <td colspan="5">
          {%- if forum.description %}
          <p class="description">{{ forum.description|e }}</p>
          {%- endif %}
          {{ pagination_right }}
          <p class="actions linklist">
            <a href="{{ forum|url('newtopic') }}" class="action action_reply">Neues Thema</a> 
            {% if USER.is_authenticated %}
              | {%- if is_subscribed %}
              <a href="{{ forum|url('unsubscribe') }}" class="action action_subscribe">abbestellen</a>
              {%- else %}
              <a href="{{ forum|url('subscribe') }}" class="action action_subscribe">abonnieren</a>
              {%- endif %}
              | <a href="{{ forum|url('markread') }}">als gelesen markieren</a>
            {%- endif %}
          </p>
        </td>

      </tr>
    </thead>
    <tbody>
    {%- for subforum in subforums %}
      {{ render_forum(subforum) }}
    {%- endfor %}
    <tr>
      <th class="topic" colspan="2">Thema</th>
      <th class="view_count">Aufrufe</th>
      <th class="post_count">Antworten</th>

      <th class="last_post">Letzter Beitrag</th>
    </tr>
    {%- for topic in topics if not (topic.hidden and not can_moderate) or topic.author_id == USER.id %}
      {%- if topic.hidden and not can_moderate %}
      <tr class="deleted">
        <td class="icon">
          <img src="{{ href('static', 'img', 'forum', 'topic-deleted.png') }}" alt="" />
        </td>
        <td colspan="5">
          Dieses Thema wurde von einem Moderator gelöscht.
        </td>
      </tr>
      {%- else %}
      <tr{% if can_moderate and (topic.hidden or topic.reported) %} class="{% if topic.hidden %}hidden {% endif %}{% if topic.reported %}reported{% endif %}"{% endif %}>
        {%- if topic.author_id == USER.id %}
        <td class="icon" style="background-color: #F6F4EF">
        {%- else %}
        <td class="icon">
        {%- endif %}
          {{ topic_icon(topic) }}
        </td>
        {%- if topic.author_id == USER.id %}
        <td class="topic" style="background-color: #F8F6F1">
        {%- else %}
        <td class="topic">
        {%- endif %}
          <p class="topic_title">
            {%- if topic.sticky %}<strong>Wichtig: </strong>{% endif -%}
            {%- if topic.has_poll %} <strong>[Umfrage]</strong> {% endif -%}
            {%- if can_moderate and topic.hidden %} [Verborgen] {% endif -%}
            {%- if can_moderate and topic.reported %} [Gemeldet] {% endif -%}
            <a href="{{ topic|url }}">{{ topic.title|e }}</a>
            {%- if not topic.get_read_status(USER) %}
            <a href="{{ topic|url('first_unread') }}" title="Zeige ungelesene Beiträge">
              <img src="{{ href('static', 'img/forum/goto.png') }}" alt="Zeige ungelesene Beiträge" />
            </a>
            {%- endif %}
          </p>
          <p class="description">
            von <a href="{{ topic.author|url }}">{{ topic.author.username|e }}</a>
            {%- if topic.paginated %} &#160; &#160; [
              Gehe zu Seite {{ topic.get_pagination() }}
            ]{% endif -%}
          </p>
        </td>
        {%- if topic.author_id == USER.id %}
        <td class="view_count" style="background-color: #F8F6F1">
        {%- else %}
        <td class="view_count">
        {%- endif %}
         {{ topic.view_count }}</td>
        {%- if topic.author_id == USER.id %}
        <td class="post_count" style="background-color: #F8F6F1">
        {%- else %}
        <td class="post_count">
        {%- endif %}
         {{ topic.post_count - 1 }}</td>
        {%- if topic.author_id == USER.id %}
        <td class="last_post" style="background-color: #F8F6F1">
        {%- else %}
        <td class="last_post">
        {%- endif %}
          {%- if topic.last_post_id %}
          <a href="{{ topic.last_post|url}}" class="date">{{
              topic.last_post.pub_date|datetimeformat }}</a><br />
          von <a href="{{ topic.last_post.author|url}}">{{ topic.last_post.author }}</a>
        {%- else %}---{% endif %}</td>
      </tr>
      {%- endif %}
    {%- else %}
      <tr>

        <td colspan="5">
          Es existieren noch keine Themen. <a href="{{ forum|url('newtopic') }}">Erstelle</a> doch das Erste!</td>
      </tr>
    {%- endfor %}
    </tbody>
    <thead>
      <tr>
        <td colspan="5">
          {%- if forum.description %}
          <p class="description">{{ forum.description|e }}</p>
          {%- endif %}
          {{ pagination_right }}
          <p class="actions">
            <a href="{{ forum|url('newtopic') }}" class="action action_reply">Neues Thema</a> 
            {% if USER.is_authenticated %}
              | {%- if is_subscribed %}
              <a href="{{ forum|url('unsubscribe') }}" class="action action_subscribe">abbestellen</a>
              {%- else %}
              <a href="{{ forum|url('subscribe') }}" class="action action_subscribe">abonnieren</a>
              {%- endif %}
              | <a href="{{ forum|url('markread') }}">als gelesen markieren</a>
            {%- endif %}
          </p>
        </td>
      </tr>
    </thead>
  </table>
{% endblock %}

