{#
    forum/forum.html
    ~~~~~~~~~~~~~~~~

    This template shows a forum with all subforums and topics inside.

    :copyright: 2007 by Benjamin Wiegand.
    :license: GNU GPL.
#}
{% extends 'forum/page.html' %}
{% include 'forum/_forum.html' %}

{% set title_trace = [forum.name|e] %}
{% set name = 'Forum „%s“ - ' % forum.name|e %}
{% set feeds = [
  (name ~ 'Nur Überschrift', href('forum', 'feeds/forum', forum.slug, 'title/25')),
  (name ~ 'Nur Einleitung', href('forum', 'feeds/forum', forum.slug, 'short/25')),
  (name ~ 'Ganzer Beitrag', href('forum', 'feeds/forum', forum.slug, 'full/25'))
] %}
{% for parent in forum.parents %}
  {% set navigation_trace = navigation_trace + [(parent|url, parent.name)] ! %}
{% endfor %}
{% set navigation_trace = navigation_trace + [(forum|url, forum.name)] %}

{% block forum_navigation %}
  <ul class="table_tabs">
    <li><a href="{{ forum|url('newtopic') }}">Neues Thema</a></li>
  </ul>
{% endblock %}

{% block forum_content %}
  <table class="forum">
    <thead>
      <tr><th colspan="4" class="category">{{ forum.name|e }}</th></tr>
    </thead>
    <tbody>
    {%- for subforum in subforums %}
      {{ render_forum(subforum) }}
    {% endfor %}
    <tr>
      <th class="topic" colspan="2">Thema</th>
      <th class="post_count">Antworten / Aufrufe</th>
      <th class="last_post">Letzte Antwort</th>
    </tr>
    {%- for topic in topics %}
    <tr{% if topic.hidden or topic.reported %} class="{% if topic.hidden %}hidden {% endif %}{% if topic.reported %}reported{% endif %}"{% endif %}>
        <td class="icon">
          {{ topic_icon(topic) }}
        </td>
        <td class="topic">
          {%- if topic.sticky %}<strong>Wichtig: </strong>{% endif -%}
          <a href="{{ topic|url }}" class="topic_title"> 
            {{- topic.title|e -}}
          </a>
          {%- if topic.has_poll %} <strong>[Umfrage]</strong> {% endif -%}
          {%- if topic.hidden %} [Verborgen] {% endif %}
          {%- if topic.reported %} [Gemeldet] {% endif %}
          {%- if topic.paginated %} {{topic.get_pagination() }} {% endif -%}
          <p class="description">
            von <a href="{{ topic.author|url }}">{{ topic.author.username|e }}</a>
          </p>
        </td>
        <td class="post_count">
          {{ topic.post_count }} / {{ topic.view_count }}
        </td>
        <td class="last_post">{% if forum.last_post_id %}
          <a href="{{ topic.last_post|url}}" class="date">{{
              topic.last_post.pub_date|datetimeformat }}</a><br />
          von <a href="{{ topic.last_post.author|url}}">{{ topic.last_post.author }}</a>
        {%- else %}---{% endif %}</td>
      </tr>
    {% else %}
      <tr>
        <td colspan="5">
          Es existieren noch keine Themen. <a href="{{ forum|url('newtopic') }}">Erstelle</a> doch das Erste!</td>
      </tr>
    #}
    {% endfor %}
    </tbody>
  </table>
  <ul class="navi_tabbar_bottom">
    <li><a href="{{ forum|url('newtopic') }}">Neues Thema</a></li>
  </ul>
  
  <div class="pagination">
    <a href="{{ forum|url('newtopic') }}" class="newtopic-link">Neues Thema</a>
    Gehe zu Seite {{ pagination }}
  </div>
{% endblock %}
