{#
    forum/newposts.html
    ~~~~~~~~~~~~~~~~~~~

    Show a list of all recent posts.

    :copyright: 2007 by Christoph Hack.
    :license: GNU GPL.
#}
{% extends 'forum/page.html' %}
{% include 'forum/_forum.html' %}

{% set title_trace = ['Neue Beiträge'] %}
{% set name = 'Neue Beiträge' %}

{% block forum_content %}
  <table class="forum">
    <thead>
      <tr><th colspan="5" class="category">Neue Beiträge</th></tr>
    </thead>
    <tbody>
      <tr>
        <th class="topic" colspan="2">Thema</th>
        <th class="post_count">Antworten</th>
        <th class="view_count">Aufrufe</th>
        <th class="last_post">Letzte Antwort</th>
      </tr>
    {%- for post in posts %}
      <tr{% if post.topic.hidden or post.topic.reported %} class="{% if post.topic.hidden %}hidden {% endif %}{% if post.topic.reported %}reported{% endif %}"{% endif %}>
        <td class="icon">
          {{ topic_icon(post.topic) }}
        </td>
        <td class="topic">
          <p class="topic_title">
            {%- if post.topic.sticky %}<strong>Wichtig: </strong>{% endif -%}
            {%- if post.topic.has_poll %} <strong>[Umfrage]</strong> {% endif -%}
            {%- if post.topic.hidden %} [Verborgen] {% endif %}
            {%- if post.topic.reported %} [Gemeldet] {% endif %}
            <a href="{{ post.topic|url }}">{{ post.topic.title|e }}</a>
          </p>
          <p class="description">
            von <a href="{{ post.topic.author|url }}">{{ post.topic.author.username|e }}</a>
            {%- if post.topic.paginated %} &#160; &#160; [
              Gehe zu Seite {{post.topic.get_pagination() }}
            ]{% endif -%}
          </p>
        </td>
        <td class="post_count">{{ post.topic.post_count }}</td>
        <td class="view_count">{{ post.topic.view_count }}</td>
        <td class="last_post">
          <a href="{{ post|url}}" class="date">{{
              post.pub_date|datetimeformat }}</a><br />
          <a href="{{ post.author|url}}">{{ post.author }}</a>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="5">
          Es wurden keine entsprechenden Beiträge gefunden.
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="pagination left_pagination">
    {{ pagination }}
    <div style="clear: both"></div>
  </div>
{% endblock %}
