{#
    forum/reportlist.html
    ~~~~~~~~~~~~~~~~~~~~~

    The moderators can see all reported topics on this page.

    :copyright: 2007 by Benjamin Wiegand.
    :license GNU GPL
    
#}

{%- extends 'forum/page.html' %}
{% set title_trace = ['Gemeldete Themen'] %}
{% set navigation_trace =  [
  (href('forum', 'reported_topics'), 'Gemeldete Themen')
  ] %}

{% block forum_content %}
<form action="" method="post">
  <table>
    <thead>
      <tr>
        <th colspan="2">Thema</th>
        <th>Gemeldet von</th>
      </tr>
    </thead>
    <tbody>
      {%- for topic in topics %}
      <tr class="reportlist_head">
        <td style="width: 1em;">
          <input type="checkbox" name="selected" value="{{ topic.id }}" />
        </td>
        <td>
          <a href="{{ topic|url }}">{{ topic.title|e }}</a> ({{ topic.forum.name|e}})
        </td>
        <td class="linklist">
          <a href="{{ topic.reporter|url }}">{{ topic.reporter.username }}</a> |
          <a href="{{ href('portal', 'privmsg', 'new', reply_to='reportedtopic:%s' % topic.slug) }}">PN schreiben</a>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="white-space: pre-wrap">{{ topic.reported|e }}</td>
      </tr>
      {%- else %}
      <tr>
        <td colspan="4">
          Es gibt zurzeit keine gemeldeten Themen.
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  <div>
    <input type="submit" value="Ausgewählte Themen als bearbeitet markieren" />
  </div>
</form>
{% endblock %}
