{#
    forum/topic.html
    ~~~~~~~~~~~~~~~~

    This page shows a single topic.
    It displays the posts and some informations about their authors.
    It is "paginated".

    :copyright: 2007 by Maximilian Trescher, Benjamin Wiegand.
    :license GNU GPL
    
#}
{% extends 'forum/page.html' %}

{% set title_trace = [topic.title|e]%}
{% set navigation_trace =  [
    (forum|url, forum.name),
    (topic|url, topic.title)
  ] + navigation_trace %}
{% set name = 'Thema „%s“ - ' % topic.title|e %}
{% set feeds = [
  (name ~ 'Nur Überschrift', href('forum', 'feeds/topic', topic.slug, 'title/25')),
  (name ~ 'Nur Einleitung', href('forum', 'feeds/topic', topic.slug, 'short/25')),
  (name ~ 'Ganzer Beitrag', href('forum', 'feeds/topic', topic.slug, 'full/25'))
] %}

{% macro moderation_actions %}
    <span class="linklist">
        <a href="{{ topic|url('split') }}" class="action action_split">Aufteilen</a> | 
        <a href="{{ topic|url('move') }}" class="action action_move">Verschieben</a> | 
        {%- if topic.locked %}
        <a href="{{ topic|url('unlock') }}" class="action action_unlock">Entsperren</a> | 
        {%- else %}
        <a href="{{ topic|url('lock') }}" class="action action_lock">Sperren</a> |
        {%- endif %}
        {%- if topic.hidden %}
        <a href="{{ topic|url('restore') }}" class="action action_restore">Wiederherstellen</a> |
        <a href="{{ topic|url('delete') }}" class="action action_delete">Löschen</a>
        {%- else %}
        <a href="{{ topic|url('hide') }}" class="action action_hide">Verbergen</a> 
        {%- endif %}
    </span>
    <br />
{% endmacro %}

{% macro topic_actions %}
    <span class="linklist">
        <a href="{{ topic|url('reply') }}" class="action action_reply" >Neue Antwort erstellen</a> |
        {%- if is_subscribed %}
        <a href="{{ topic|url('unsubscribe') }}" class="action action_subscribe">Bei neuen Beiträgen nicht mehr benachrichtigen</a> |
        {%- else %}
        <a href="{{ topic|url('subscribe') }}" class="action action_subscribe">Bei neuen Beiträgen benachrichtigen</a> |
        {%- endif %}
        {%- if topic.solved %}
        <a href="{{ topic|url('unsolve') }}" class="action action_unsolve">Thema als ungelöst markieren</a> |
        {%- else %}
        <a href="{{ topic|url('solve') }}" class="action action_solve">Thema als gelöst markieren</a> |
        {%- endif %}
        <a href="{{ topic|url('report') }}" class="action action_report">Thema melden</a>
    </span>
{% endmacro %}

{% block forum_content %}

<div class="topic_box " >
<h2>{{ topic.title|e }}</h2>
<div class="topic_box_content">
<div class="pagination">Gehe zu Seite {{ pagination }}</div>

Status: <span class="status_{{ topic.solved and 'solved' or 'unsolved' }}">{{ topic.solved and 'gelöst' or 'ungelöst' }}</span>
    <span class="linklist">|</span>
    Ubuntu-Version: {{ topic.get_ubuntu_version() }} <br />
    {{ moderation_actions() }}
    {{ topic_actions() }}
</div>
</div>

{%- if polls %}
  <form action="" method="post">
    {%- for pid, poll in polls.iteritems() %}
    <strong>{{ poll.question|e }}</strong>
    <ul>
      {%- for oid, option in poll.options.iteritems() %}
      <li>
        {%- if not poll.participated %}
        <input type="{{ poll.multiple and 'checkbox' or 'radio' }}"
               name="poll_{{ pid }}" id="poll_{{ oid }}"
               value="{{ oid }}" />
        {%- endif %}
        <label{% if not poll.participated %} for="poll_{{ oid }}"{% endif %}>
          {{ option.name|e }}: {{ option.percent }}%
          ({{ option.votes }} Stimmen)
        </label>
      </li>
      {%- endfor %}
    </ul>
    {%- if loop.last and can_vote %}
    <input type="submit" name="vote" value="Abstimmen" />
    {%- endif %}
    {%- endfor %}
  </form>
  {%- endif %}
  <table class="topic">
   <tbody>
    {%- for post in posts %}
      {# XXX: Does this create a sql query each time inside loop? #}
      {%- set attachments = post.attachment_set.all() %}      
      <tr id="post{{ post.id }}"{% if post.hidden %} class="hidden"{% endif %}>
        <td class="author">
          <a href="{{ post.author|url }}">{{ post.author.username|e }}</a>
          {%- if post.author.avatar and not USER.settings['hide_avatars'] %}
          <img src="{{ post.author.avatar_url }}" alt="Avatar von {{ post.author.username|e }}" />
          {%- endif %}
        </td>
        <td class="post">
          <div class="postinfo">
            <div class="linklist floatright">
              <a href="{{ post|url('edit') }}" class="action action_edit">Bearbeiten</a> |
              <a href="{{ post|url('quote') }}" class="action action_quote">Zitieren</a> |
              {%- if post.hidden %}
              <a href="{{ post|url('restore') }}" class="action action_restore">Wiederherstellen</a> |
              <a href="{{ post|url('delete') }}" class="action action_delete">Endgültig löschen</a>
              {%- else %}
              <a href="{{ post|url('hide') }}" class="action action_hide">Verbergen</a>
              {%- endif %}
            </div>
            <a href="{{ post|url }}" title="Kopiere diesen Link, um auf diesen Beitrag zu verweisen" onclick="return false">
              <img src="{{ href('static', 'img', 'icon_minipost.gif') }}" alt="Beitrag" />
            </a>
            Verfasst: {{ post.pub_date.strftime('%d.%m.%Y, %H:%M') }}
          </div>
          {{ post.rendered_text }}
          {{ h.render_attachments(attachments) }}
          {%- if post.author.signature and not USER.settings['hide_signatures'] %}
            <hr />
            {{ post.author.rendered_signature }}
          {%- endif %}
        </td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>
  
<div class="topic_box " >
<div class="topic_box_content">
<div class="pagination">Gehe zu Seite {{ pagination }}</div>
    {{ moderation_actions() }}
    {{ topic_actions() }}
</div>
</div>

{% endblock %}
