{#
    forum/topic.html
    ~~~~~~~~~~~~~~~~

    This page shows a single topic.
    It displays the posts and some informations about their authors.
    It is "paginated".

    :copyright: 2007 by Maximilian Trescher, Benjamin Wiegand.
    :license GNU GPL
    
#}
{% extends 'forum/page.html' %}

{% set title_trace = [topic.title|e] %}
{% set navigation_trace =  [
    (forum|url, forum.name),
    (topic|url, topic.title)
  ] + navigation_trace %}
{% set name = 'Thema „%s“ - ' % topic.title|e %}
{% set feeds = [
  (name ~ 'Nur Überschrift', href('forum', 'feeds/topic', topic.slug, 'title/25')),
  (name ~ 'Nur Einleitung', href('forum', 'feeds/topic', topic.slug, 'short/25')),
  (name ~ 'Ganzer Beitrag', href('forum', 'feeds/topic', topic.slug, 'full/25'))
] %}

{% macro topic_actions %}
  <span class="linklist">
    <a href="{{ topic|url('reply') }}" class="action action_reply">antworten</a> |
    {%- if is_subscribed %}
    <a href="{{ topic|url('unsubscribe') }}" class="action action_subscribe">de-abonnieren</a> |
    {%- else %}
    <a href="{{ topic|url('subscribe') }}" class="action action_subscribe">abonnieren</a> |
    {%- endif %}
    {%- if topic.solved %}
    <a href="{{ topic|url('unsolve') }}" class="action action_unsolve">als ungelöst markieren</a> |
    {%- else %}
    <a href="{{ topic|url('solve') }}" class="action action_solve">als gelöst markieren</a> |
    {%- endif %}
    <a href="{{ topic|url('report') }}" class="action action_report">melden</a>
  </span>
{% endmacro %}

{% block forum_content %}

  <div class="topic_box">
    <h2>{{ topic.title|e }}</h2>
    <div class="topic_box_content">
      {{ pagination.generate('right') }}
      <strong>Status:</strong> <span class="status_{{
        topic.solved and 'solved' or 'unsolved' }}">{{
        topic.solved and 'gelöst' or 'ungelöst' }}</span>
      <span class="linklist">|</span>
      <strong>Ubuntu-Version:</strong>
        {{ topic.get_ubuntu_version() }}<br />
        {{ topic_actions() }}
      </div>
    </div>

  {%- if polls %}
  <form action="" method="post" class="poll">
    {%- for pid, poll in polls.iteritems() %}
    <div><strong>{{ poll.question|e }}</strong></div>
    <ul>
      {%- for oid, option in poll.options.iteritems() %}
      <li>
        {%- if not poll.participated %}
        <input type="{{ poll.multiple and 'checkbox' or 'radio' }}"
               name="poll_{{ pid }}" id="poll_{{ oid }}"
               value="{{ oid }}" />
        {%- endif %}
        <label{% if not poll.participated %} for="poll_{{ oid }}"{% endif %}>
          {{ option.name|e }}: {{ option.percent }}%
          ({{ option.votes }} Stimme{% if option.votes != 1 %}n{% endif %})
        </label>
      </li>
      {%- endfor %}
    </ul>
    {%- if loop.last and can_vote %}
    <input type="submit" name="vote" value="Abstimmen" />
    {%- endif %}
    {%- endfor %}
  </form>
  {%- endif %}

  <table class="topic">
   <tbody>
    {%- for post in posts %}
      {%- set attachments = post.attachments %}      
      <tr id="post-{{ post.id }}"{% if post.hidden %} class="hidden"{% endif %}>
        <td class="author">
          <p class="username"><a href="{{ post.author|url }}">{{ post.author.username|e }}</a></p>
          {%- if post.author.avatar and not USER.settings['hide_avatars'] %}
          <img class="avatar" src="{{ post.author.avatar_url }}" alt="Avatar von {{ post.author.username|e }}" />
          {%- endif %}
          <p>Anmeldungsdatum: {{ post.author.date_joined|dateformat }}</p>
          <p>Beiträge: {{ post.author.post_count }}</p>
          {%- if post.author.location %}
          <p>Wohnort: {{ post.author.location|e }}</p>
          {%- endif %}
        </td>
        <td class="post">
          <div class="postinfo">
            <div class="linklist floatright">
              <a href="{{ post|url('edit') }}" class="action action_edit">bearbeiten</a> |
              <a href="{{ post|url('quote') }}" class="action action_quote">zitieren</a>
              {%- if privileges.moderate %} |
                {%- if post.hidden %}
                <a href="{{ post|url('restore') }}" class="action action_restore">wiederherstellen</a> |
                <a href="{{ post|url('delete') }}" class="action action_delete">endgültig löschen</a>
                {%- else %}
                <a href="{{ post|url('hide') }}" class="action action_hide">verbergen</a>
                {%- endif %}
              {%- endif %}
            </div>
            <a href="{{ post|url }}" title="Kopiere diesen Link, um auf diesen Beitrag zu verweisen" onclick="alert(this.title); return false"><img src="{{ href('static', 'img', 'icon_minipost.gif') }}" alt="Beitrag" /></a>
            Verfasst: {{ post.pub_date.strftime('%d.%m.%Y, %H:%M') }}
          </div>
          {{ post.rendered_text }}
          {{ h.render_attachments(attachments) }}
          {%- if post.author.signature and not USER.settings['hide_signatures'] %}
            <div class="signature">
            {{ post.author.rendered_signature }}
            </div>
          {%- endif %}
        </td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>
  
  <div class="topic_box">
    <div class="topic_box_content">
      {{ pagination.generate('right') }}
      {{ topic_actions() }}<br />
      {% if privileges.moderate %}
      <span class="linklist">
        <a href="{{ topic|url('split') }}" class="action action_split">aufteilen</a> | 
        <a href="{{ topic|url('move') }}" class="action action_move">verschieben</a> | 
        {%- if topic.locked %}
        <a href="{{ topic|url('unlock') }}" class="action action_unlock">entsperren</a> | 
        {%- else %}
        <a href="{{ topic|url('lock') }}" class="action action_lock">sperren</a> |
        {%- endif %}
        {%- if topic.hidden %}
        <a href="{{ topic|url('restore') }}" class="action action_restore">wiederherstellen</a> |
        <a href="{{ topic|url('delete') }}" class="action action_delete">löschen</a>
        {%- else %}
        <a href="{{ topic|url('hide') }}" class="action action_hide">verbergen</a> 
        {%- endif %}
      </span>
      {% endif %}
    </div>
  </div>

{% endblock %}
