{#
    portal/usercp/subscriptions.html
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    This page shows all subscriptions of the user and let him
    manage them.
    
    :copyright: 2007 by Christopher Grebs.
    :license: GNU GPL.
#}

{%- extends 'portal/usercp/overall.html' %}
{% set title_trace = ['Abonnements'] %}
{% set selected = 'subscriptions' %}


{% block appheader %}
  <h1><a href="{{ href('portal', 'usercp') }}">Kontrollzentrum</a></h1>
  <h2><a href="{{ href('portal', 'usercp', 'subscriptions') }}">Abonnements</a></h2>
{% endblock %}
{% block portal_content %}
<h3>Abonnements <span class="note">(<a href="{{ href('portal', 'usercp', 'settings') }}">erweiterte Einstellungen</a>)</span></h3>
<form class="usercp_form" method="post" action="">
  <table class="usercp_subscriptions">
    <thead>
      <tr>
        <th class="checkboxes"><input type="checkbox" id="check_all" title="Alle aus-/abwählen" /></th>
        <th class="items">Name</th>
      </tr>
    </thead>
    <tbody>
      {%- for sub in subscriptions %}
      <tr>
        <td class="checkboxes"><input type="checkbox" name="select" value="{{ sub.id }}" /></td>
        <td class="items{% if not sub.can_read %} unreadable{% endif %}">
          {%- if sub.notified %}<img src="{{ href('static', 'img', 'icons', 'new.png') }}" alt="neu" title="Änderungen seit letztem Besuch" /> {% endif %}
          {%- if not sub.can_read %}<img src="{{ href('static', 'img', 'unreadable.png') }}" alt="nicht lesbar" title="Keine ausreichenden Leserechte" /> {% endif %}

          {%- if sub.topic -%}
          <span class="status_{{ sub.topic.solved and 'solved' or 'unsolved' }}"></span>

          Thema: <a href="{{ sub.topic|url }}">{{ sub.topic.title|e }}</a>
          {%- elif sub.wiki_page -%}
          Wiki-Seite: <a href="{{ sub.wiki_page|url }}">{{ sub.wiki_page.title|e }}</a>
          {%- elif sub.forum -%}
          Forum: <a href="{{ sub.forum|url }}">{{ sub.forum.name|e }}</a>
          {%- endif -%}
        </td>
      </tr>
      {%- else %}
      <tr>
        <td colspan="2">
          {%- if notified_only %}
          Keine Themen oder Artikel mit Änderungen
          {%- else %}
          Du hast bisher noch keine Themen oder Artikel abonniert
          {%- endif %}
        </td>
      </tr>
      {%- endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2" class="linklist">
          {%- if one_page %}
          {%- if notified_only %}
          <a href="{{ href('portal', 'usercp', 'subscriptions', 'notified') }}">Abonnements auf mehrere Seiten aufteilen</a> |
          <a href="{{ href('portal', 'usercp', 'subscriptions', '0') }}">Alle Abonnements anzeigen</a>
          {%- else %}
          <a href="{{ href('portal', 'usercp', 'subscriptions') }}">Abonnements auf mehrere Seiten aufteilen</a> |
          <a href="{{ href('portal', 'usercp', 'subscriptions', 'notified', '0') }}">Nur Abonnements mit Änderungen anzeigen </a>
          {%- endif %}
          {%- else %}
          {{ pagination }}
          {%- if notified_only %}
          <a href="{{ href('portal', 'usercp', 'subscriptions', 'notified', '0') }}">Alle Abonnements auf einer Seite anzeigen</a> |
          <a href="{{ href('portal', 'usercp', 'subscriptions') }}">Alle Abonnements anzeigen</a>
          {%- else %}
          <a href="{{ href('portal', 'usercp', 'subscriptions', '0') }}">Alle Abonnements auf einer Seite anzeigen</a> |
          <a href="{{ href('portal', 'usercp', 'subscriptions', 'notified') }}">Nur Abonnements mit Änderungen anzeigen </a>
          {%- endif %}
          {%- endif %}
        </td>
      </tr>
    </tfoot>
  </table>
  <div>
    <input type="submit" name="delete" value="Ausgewählte Abonnements löschen" />
    <input type="submit" name="mark_read" value="Ausgewählte Abonnements als gelesen markieren" />
  </div>
</form>
<script type="text/javascript">
  /* <![CDATA[ */
  $('#check_all').click(function() {
    var checked = this.checked
    $('input[name="select"]').each(function() {
      this.checked = checked;
    });
  });
  /* ]]> */
</script>
{% endblock %}
