{#
    portal/privmsg/new.html
    ~~~~~~~~~~~~~~~~~~~~~~~

    Template for writing and sending new private messages.

    :copyright: 2007 by Christoph Hack, Benjamin Wiegand.
    :license: GNU GPL.
#}
{%- extends 'portal/privmsg/overall.html' %}
{% from 'macros.html' import render_form %}
{% set styles = styles|default([]) + ['portal.css', 'editor.css'] %}
{% set title_trace = ['Neue Nachricht'] %}
{% set scripts = ['WikiEditor.js'] %}
{% set selected = 'new' %}

{% block portal_content %}
  <form action="{{ href('portal', 'privmsg', 'new') }}" method="post">
    {{ render_form(form, ['recipient', 'subject', 'text']) }}
    <script type="text/javascript">
      var editor = new WikiEditor('textarea[@name="text"]', 'forum')
    </script>
    <p>
      <input type="submit" value="Nachricht absenden" />
    </p>
  </form>
{% endblock %}
