{#
    planet/suggest.html
    ~~~~~~~~~~~~~~~~~~~

    On this page the user can suggest a new blog for the planet.

    :copyright: 2007 by Benjamin Wiegand.
    :license: GNU GPL.
#}
{%- extends 'planet/page.html' %}
{% from 'macros.html' import render_form %}
{% set title_trace = ['Blog vorschlagen'] %}

{% block planet_content %}
  <p>Hier kannst du einen Blog für den Planeten vorschlagen. Bitte beachte, dass es sich
  dabei um einen Ubuntu/Linux Blog handeln muss und dass es womöglich einige Tage dauern
  kann bis der Blog überprüft wurde.</p>
  <form action="{{ href('planet', 'suggest') }}" method="post">
    {{ render_form(form, ['name', 'url', 'description']) }}
    <p>
      <input type="submit" value="Abschicken" />
      <input type="submit" name="abort" value="Abbrechen" />
    </p>
  </form>
{% endblock %}
