{#
    errors/404.html
    ~~~~~~~~~~~~~~~

    This template is shown if the page requested does not exist.

    :copyright: 2007 by Christopher Grebs.
    :license: GNU GPL.
#}

{% if app == 'forum' %}
{% extends 'forum/page.html' %}
{% forum_content = self.error404_content() %}

{% elif app == 'ikhaya' %}
{% extends 'ikhaya/page.html' %}
{% ikhaya_content = self.error404_content() %}

{% elif app == 'pastebin' %}
{% extends 'pastebin/page.html' %}
{% paste_content = self.error404_content() %}

{% elif app == 'planet' %}
{% extends 'planet/page.html' %}
{% planet_content = self.error404_content() %}

{% elif app == 'admin' %}
{% extends 'admin/overall.html' %}
{% admin_content = self.error404_content() %}

{% else %}
{% extends 'portal/overall.html' %}
{% styles = styles|default([]) + ['portal.css'] %}
{% portal_content = self.error404_content() %}


{% endif %}


{% title_trace = title_trace|default([]) + ['Seite existiert nicht'] %}
{% block appheader %}
  <h1>Fehler 404</h1>
  <h2>Seite nicht gefunden</h2>
{% endblock %}
{% block error404_content %}
  <div class="not_found">
    <p>
    {% if err_message %}
      <strong>{{ err_message }}</strong>
    {% else %}
      <strong>Die angeforderte Seite konnte nicht gefunden werden.</strong>
    {% endif %}
    </p>
    <img src="{{ href('static', 'img/not_found.png') }}" />
  </div>
{% endblock %}
