{% macro render_forum(forum, subforums) %}
  <tr class="entry category-{{ forum.parent_id }}">
    <td class="icon">
      {%- if forum.get_read_status(REQUEST.user) %}
      <img src="{{ href('static', 'img', 'forum/forum.png') }}" alt="Forum gelesen" />
      {%- else %}
      <img src="{{ href('static', 'img', 'forum/forum_unread.png') }}" alt="Neue Beiträge im Forum" />
      {%- endif %}
    </td>
    <td class="forum">
      <p class="name"><a href="{{ forum|url }}" class="title">{{ forum.name|e }}</a></p>

      {%- if forum.description %}
      <p class="description">{{ forum.description|e }}</p> 
      {%- endif %}
      {%- if subforums %}
      <p class="subforums">Unterforen:
      {%- for subforum in subforums %}
        {%- if not subforum.get_read_status(REQUEST.user) %}
        <img src="{{ href('static', 'img/forum/subforum_unread.png') }}" alt="Neue Beiträge im Forum" />
        {%- endif %}
        <a href="{{ subforum|url }}">{{ subforum.name|e }}</a>{% if not loop.last %}, {% endif %}
      {%- endfor %}
      </p>
      {%- endif %}
    </td>
    <td class="topic_count" title="Anzahl der Themen">{{ forum.topic_count }}</td>
    <td class="post_count" title="Anzahl der Beiträge">{{ forum.post_count }}</td>

    <td class="last_post">
    {%- if forum.last_post -%}
    <a href="{{ forum.last_post|url }}">{{ forum.last_post.pub_date|datetimeformat }}</a><br />
    von <a href="{{ forum.last_post.author|url }}">{{ forum.last_post.author|e }}</a>
    {%- else %}---
    {%- endif %}</td>
  </tr>
{% endmacro %}

{% macro topic_icon(topic) -%}
  {% set is_read = topic.get_read_status(USER) -%}
  <img src="
  {{- href('static', 'img', 'forum', 'topic' ) -}}
  {%- if not is_read %}-new{% endif -%}
  {%- if topic.solved %}-solved{% endif -%}
  {#- TODO: watched -#}
  {%- if topic.locked %}-locked{% endif -%}
  {%- if topic.hidden %}-hidden{% endif -%}
  {%- if can_moderate and topic.reported %}-reported{% endif -%}
  .png" alt="
  {%- if not is_read %}ungelesenes {% endif -%}
  {%- if topic.solved %}gelöstes {% endif -%}
  {#- TODO: watched -#}
  {%- if topic.locked %}gesperrtes {% endif -%}
  {%- if topic.hidden %}verstecktes {% endif -%}
  {%- if can_moderate and topic.reported %}gemeldetes {% endif -%}
  Thema" title="
  {%- if not is_read %}ungelesenes {% endif -%}
  {%- if topic.solved %}gelöstes {% endif -%}
  {#- TODO: watched -#}
  {%- if topic.locked %}gesperrtes {% endif -%}
  {%- if topic.hidden %}verstecktes {% endif -%}
  {%- if can_moderate and topic.reported %}gemeldetes {% endif -%}
  Thema" />

{%- endmacro %}
