{#
    forum/splittopic.html
    ~~~~~~~~~~~~~~~~

    This page shows the "splittopic" form. 

    :copyright: 2007 by Maximilian Trescher, ostcar (ubuntuusers.de),
                        Benjamin Wiegand
    :license GNU GPL
    
#}
{%- extends 'forum/page.html' %}
{% set title_trace = ['„%s“ teilen'|format(topic.title|e)]%}
{% set navigation_trace =  [
    (topic.forum|url, topic.forum.name),
    (topic|url, topic.title),
    (topic|url('split'), 'Thema aufteilen')
  ] %}
{% set scripts = ['jQuery.autocomplete.js'] %}

{% block forum_content %}
  <form action="" method="post" class="new_topic">
    <h2>Thema „{{ topic.title|e }}“ aufteilen</h2>
    <p>
      Mit den Eingabefeldern unten kannst du ein Thema in zwei teilen, indem du entweder die Beiträge manuell auswählst oder ab einem gewählten Beitrag teilst.
    </p>
    <dl>
      <dt>
        <input type="radio" name="action" value="new" id="id_new" />
        <label for="id_new">Neues Topic erstellen</label>
      </dt>
      <dd>
        Forum des neuen Topics: {{ form.forum }}{{ form.errors.forum }}
      </dd>
      <dd>
        Titel des neuen Topics: {{ form.title }}{{ form.errors.title }}
      </dd>
      <dd>
        Version des neuen Topics:
        {{ form.ubuntu_distro }}{{ form.errors.ubuntu_distro }}
        {{ form.ubuntu_version }}{{ form.errors.ubuntu_version }}
      </dd>
      <dt>
        <input type="radio" name="action" value="add" id="id_add" />
        <label for="id_add">An altes Topic anfügen</label>
      </dt>
      <dd>
        Slug des Topics: {{ form.topic }}{{ form.errors.topic }}
      </dd>
    </dl>

    <hr />
    <div class="pagination">
      <p>Du befindest dich auf Seite <strong>{{ current_page }}</strong>, 
         das Topic hat <strong>{{ max_pages }}</strong> Seiten.</p>
      <span>
        Auf Seite <input type="text" name="switch_to" class="ellipsis" value="{{ current_page }}">
        <input type="submit" name="switch" value="wechseln." />
      </span>
      <p>
        <strong>Bitte beachte: </strong>Lade die Seite nicht einfach neu, da sonst alle Daten verloren gehen
        und du außerdem auch auf einer ganz anderen Seite landest.  Benutze die gestellten Buttons
        und Formular-Felder um zu navigieren!
      </p>
    </div>

    <br />

    <table class="topic">
      <thead>
      <tr>
        <th colspan="12">
          {{ topic.title|e }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="split">
          <input type="submit" name="select_selected" value="Gewählte" />
        </td>
        <td class="split">
          <input type="submit" name="select_following" value="Ab hier" />
        </td>
        <td colspan="10"></td>
      </tr>
      {% for post in posts %}
        <tr>
          <td class="split">
            <input type="checkbox" name="select" value="{{ post.id }}" />
          </td>
          <td class="split">
            <input type="radio" name="start" value="{{ post.id }}" />
          </td>
          <td class="author" colspan="2">
            <a href="{{ post.author|url }}" name="{{ post.id }}">
              {{ post.author|e }}
            </a><br />
            Beiträge: {{ post.author.post_count }}
          </td>
          <td colspan="8">
            <div class="postinfo">
              Verfasst {{ post.pub_date|datetimeformat }}
            </div>
            {{ post.get_text() }}
          </td>
        </tr>
      {% endfor %}
      <tr>
        <td class="split">
          <input type="submit" name="select_selected" value="Gewählte" />
        </td>
        <td class="split">
          <input type="submit" name="select_following" value="Ab hier" />
        </td>
        <td colspan="10"></td>
      </tr>
      </tbody>
    </table>

    <div class="pagination">
      <p>Du befindest dich auf Seite <strong>{{ current_page }}</strong>, 
         das Topic hat <strong>{{ max_pages }}</strong> Seiten.</p>
      <span>
        Auf Seite <input type="text" name="switch_page" class="ellipsis" value="{{ current_page }}">
        <input type="submit" name="switch" value="wechseln." />
      </span>
    </div>

  </form>
  <script type="text/javascript">
    /* <![CDATA[ */
    (function () {
      $('#id_topic').autocomplete('/?__service__=forum.get_topic_autocompletion', {
        delay: 40, cacheLength: 10});
    })();
    /* ]]> */
  </script>
{% endblock %}
