{#
    admin/index.html
    ~~~~~~~~~~~~~~~~

    This page shows the index page for the administration center.

    :copyright: 2007-2008 by Christopher Grebs, Benjamin Wiegand.
    :license: GNU GPL.
#}

{%- extends 'admin/overall.html' %}

{% block admin_content %}
  <div class="admin_control">
    <ul>
      {{ admin_button(href('admin', 'config'), 'configuration', 'Allgemeine Konfiguration', 'configuration_edit') }}
      {{ admin_button(href('admin', 'users'), 'users', 'Benutzerkonfiguration', 'user_edit') }}
      {{ admin_button(href('admin', 'groups'), 'groups', 'Gruppenkonfiguration', 'group_edit') }}
      {{ admin_button(href('admin', 'forum'), 'forum', 'Forum', 'forum_edit') }}
      {%- if USER.can('article_edit') or USER.can('category_edit') or USER.can('event_edit') %}
      {{ admin_button(href('admin', 'ikhaya'), 'ikhaya', 'Ikhaya') }}
      {%- endif %}
      {{ admin_button(href('admin', 'planet'), 'planet', 'Planet', 'blog_edit') }}
      {{ admin_button(href('admin', 'pages'), 'pages', 'Statische Seiten', 'static_page_edit') }}
      {{ admin_button(href('admin', 'files'), 'files', 'Statische Dateien', 'static_file_edit') }}
      {{ admin_button(href('admin', 'styles'), 'styles', 'Markup-Stylesheets', 'markup_css_edit') }}
    </ul>
  </div>
{% endblock %}
