{#
    admin/planet_edit.html
    ~~~~~~~~~~~~~~~~~~~~~~

    Formular for editing or creating a new blog.

    :copyright: 2008 by Benjamin Wiegand.
    :license: GNU GPL.
#}
{%- extends 'admin/overall.html' %}
{% from 'macros.html' import render_form %}
{% block admin_content %}
  <form action="" method="post" enctype="multipart/form-data">
    <dl>
      {{ render_form(form, ['name', 'description', 'blog_url', 'feed_url'], inline=True) }}
      <dt>
        <label for="id_active">Blog indizieren?</label>
      </dt>
      <dd>
        <input checked="checked" type="checkbox" name="active" id="id_active" /> Ja, indiziere diesen Blog.
      </dd>

      <dt>Icon:</dt>
      <dd>
        {{- form.icon }}{{ form.errors.icon }}<br />
        {%- if blog.icon -%}
        {{ form.delete_icon }} <label for="id_delete_icon">Aktuelles Icon löschen</label>
        {%- endif -%}
      </dd>
    </dl>
    <p>
      <input type="submit" value="Speichern" />
    </p>
  </form>
{% endblock %}
