{#
    overall.html
    ~~~~~~~~~~~~

    This is the basic layout that is included by all templates.

    It contains the design elements that are displayed on all pages.

    :copyright: 2007 by Benjamin Wiegand.
    :license: GNU GPL.
-#}
{{ XHTML_DTD }}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:cc="http://creativecommons.org/ns#"
      xmlns:inyoka="http://inyoka.pocoo.org/" xml:lang="de" lang="de" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ (title_trace + ['ubuntuusers.de'])|join(' › ') }}</title>
    {%- block html_head %}
    {#- This way the local stylesheets can override styles without problems. #}
    {%- set styles = ['main.css', 'markup.css'] + styles -%}
    {%- for style in styles %}
    <link rel="stylesheet" type="text/css" href="{{ href('static', 'style', style) }}" />
    {%- endfor %}
    <link rel="stylesheet" type="text/css" href="{{ href('portal', 'markup.css') }}" />
    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="{{ href('static', 'style', 'ie.css') }}" /><![endif]-->
    {%- for title, url in feeds %}
    <link rel="alternate" href="{{ url|e }}" title="{{ title|e }}" type="application/atom+xml" />
    {%- endfor %}
    <link rel="shortcut icon" href="{{ href('static', 'img', 'favicon.ico') }}" />
    <link rel="search" type="application/opensearchdescription+xml" title="ubuntuusers" href="{{ href('portal', 'opensearch', 'portal') }}" /> 
    {%- for app in ('forum', 'wiki', 'ikhaya', 'planet') %}
    {%- if app == active_app %}
    <link rel="search" type="application/opensearchdescription+xml" title="ubuntuusers - {{ app|capitalize }}" href="{{ href('portal', 'opensearch', app) }}" /> 
    {%- endif -%}
    {%- endfor %}
    <script type="text/javascript">
    /*<![CDATA[*/
      var
        $STATIC_URL = {{ href('static')|jsonencode }},
        $MEDIA_URL = {{ href('media')|jsonencode }},
        $BASE_DOMAIN_NAME = {{ SETTINGS.BASE_DOMAIN_NAME|jsonencode }},
        $CURRENT_USER = {{ USER.username|jsonencode if USER.is_authenticated else 'null' }},
        $IS_LOGGED_IN = {{ USER.is_authenticated and 'true' or 'false' }},
        $SIDEBAR_HIDDEN = {{ USER.settings.sidebar_hidden and 'true' or 'false' }};
    /*]]>*/
    </script>
    {%- for script in ['jQuery.js', 'jQuery.Dimensions.js', 'jQuery.extensions.js',
                       'overall.js'] + scripts %}
    <script type="text/javascript" src="{{ href('static', 'js/' + script) }}"></script>
    {%- endfor %}
    <!--[if lt IE 7.]><script defer type="text/javascript" src="{{ href('static', 'js/ie7.js') }}"></script><![endif]-->
    {%- endblock %}
  </head>
  <body>
    <div class="header">
      <h1><a href="/"><span>ubuntuusers.de</span></a></h1>
      <ul class="tabbar">
        {%- for app in ('portal', 'forum', 'wiki', 'ikhaya', 'planet') %}
        <li class="{{ app }}{% if app == active_app %} active{% endif
          %}"><a href="{{ href(app) }}">{{ app|capitalize }}</a></li>
        {%- endfor %}
      </ul>{# .tabbar #}
    </div>{# .header #}

    <div class="body">
      <div class="appheader">
        {%- if not hide_quicklinks %}
        {%- if USER.is_manager %}
        <ul class="mod_navi">
          <li><a href="{{ href('admin', 'bugs', 'usererrors') }}">User-Fehlermeldungen</a></li>
          {%- if report_count %}
          <li><strong><a href="{{ href('forum', 'reported_topics') }}">Gemeldete Themen ({{ report_count }})</a></strong></li>
          {%- else %}
          <li><a href="{{ href('forum', 'reported_topics') }}">Gemeldete Themen</a></li>
          {%- endif %}
          {%- if suggestion_count %}
          <li><strong><a href="{{ href('ikhaya', 'suggestions') }}">Artikelvorschläge ({{ suggestion_count }})</a></strong></li>
          {%- else %}
          <li><a href="{{ href('ikhaya', 'suggestions') }}">Artikelvorschläge</a></li>
          {%- endif %}
          <li><a href="{{ href('admin') }}">Adminbereich</a></li>
        </ul>
        {%- endif %}
        <ul class="navi_global">
          {%- if USER.is_authenticated %}
          <li><a href="{{ href('portal', 'logout') }}">Logout [{{ USER.username|e }}]</a></li>
          <li><a href="{{ href('portal', 'usercp') }}">Kontrollzentrum</a></li>
          <li>
            {%- if pm_count -%}
            <strong><a href="{{ href('portal', 'privmsg')}}">Private Nachrichten ({{ pm_count }})</a></strong>
            {%- else -%}
            <a href="{{ href('portal', 'privmsg') }}">Private Nachrichten</a>
            {%- endif -%}
          </li>
          {%- else %}
          <li><a href="{{ href('portal', 'login', next=CURRENT_URL) }}">Login</a></li>
          <li><a href="{{ href('portal', 'register') }}">Registrieren</a></li>
          {%- endif %}
        </ul>{# .navi_global #}
        {%- endif %}
        {% block appheader %}{% endblock %}
        <a href="{{ href('portal', 'error_report', url=CURRENT_URL) }}" id="user_error_report_link">Bug melden</a>
      </div>{# .appheader #}

      <div class="pathbar">
        <form action="{{ href('portal', 'search') }}" method="get" class="search">
          <p>
            <input type="text" name="q" class="search_query" />
            <select name="area" class="search_area">
              <option value="all"{% if active_app == 'portal' %} selected="selected"{% endif %}>Überall</option>
              <option value="forum"{% if active_app == 'forum' %} selected="selected"{% endif %}>Forum</option>
              <option value="wiki"{% if active_app == 'wiki' %} selected="selected"{% endif %}>Wiki</option>
              <option value="ikhaya"{% if active_app == 'ikhaya' %} selected="selected"{% endif %}>Ikhaya</option>
              <option value="planet"{% if active_app == 'planet' %} selected="selected"{% endif %}>Planet</option>
            </select>
            <input type="submit" value="Suchen" class="search_submit" />
          </p>
        </form>{# .search #}

        <p class="trace">{%- for link, title in [(href('portal'), 'ubuntuusers.de')] +
          navigation_trace %}
          <a href="{{ link|e }}">{{ title|e }}</a>{% if not loop.last
            %} »{% endif %}
        {%- endfor %}</p>
        <div style="clear:both;"></div>
      </div>{# .pathbar #}

      {%- if GLOBAL_MESSAGE %}
      <div class="message">{{ GLOBAL_MESSAGE }}</div>
      {%- endif %}

      {%- for message in MESSAGES %}
      <div class="message{% if message.success == true %} success{% elif message.success == false %} fail{% endif %}">
        {{ message.text }}
      </div>
      {%- endfor %}

      <div class="page_content">
        {%- if navi_type -%}
        {%- if navi_type == 'tabbar' %}
        <div class="navi_tabbar navigation">
        {%- else %}
        <div class="navi_sidebar navigation">
        {%- endif %}
          {% block navigation %}{% endblock %}
        </div>{# .navi_tabbar .navi_sidebar .content #}
        
        {%- if navi_type == 'both' %}
        <div class="navi_tabbar navigation">
        {% block opt_tabbar_navigation %}{% endblock %}
        </div>
        {%- endif %}
        
        {%- if navi_type == 'tabbar' %}
        <div class="content_tabbar content">
        {%- else %}
        <div class="content_sidebar content">
        {%- endif %}
        {%- else %}
        <div class="content">
        {%- endif %}
          {%- block content %}{% endblock %}
        </div>{# .content_tabbar .content_sidebar .content #}
      </div>{# .page_content #}
      <div style="clear: both"></div>
    </div>{# .body #}

    <div class="footer">
      <ul>
        <li class="poweredby">
          <a href="{{ href('portal', 'inyoka')|e }}">Inyoka</a> unter der Haube<br />
          {%- if INYOKA_REVISION %}
          inyoka rev-{{ INYOKA_REVISION }}
          {%- else %}
          inyoka revision unavailable
          {%- endif %}
        </li>
        <li class="license">
          <img src="{{ href('static', 'img/copyleft.png') }}" alt="Copyleft" />
          2004 – 2008 ubuntuusers.de • Einige Rechte vorbehalten<br />
          <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/de/deed.de" rel="license">CC</a>
          <a href="{{ href('portal', 'lizenz') }}" rel="cc:morePermissions">Lizenz</a> •
          <a href="{{ href('portal', 'kontakt') }}">Kontakt</a> •
          <a href="{{ href('portal', 'datenschutz') }}">Datenschutz</a> •
          <a href="{{ href('portal', 'impressum') }}">Impressum</a>
        </li>
        <li class="housing">
          <span title="Unterbringung und Netzanbindung eines Servers">Serverhousing</span> gespendet von<br />
          <a href="http://www.noris.de/"><img src="{{ href('static', 'img/noris_logo.png') }}" alt="noris network" /></a>
        </li>
      </ul>
    </div>{# .footer #}
    <div id="user_error_report">
      <p>Hier kannst du Fehler in der Software melden. Bitte verwende diese Formular nur für Fehler die offensichtlich welche sind, nicht für Fragen o.ä., dafür gibts ein <a href="http://forum.ubuntuusers.de/forum/56/" title="Rund um Inyoka">eigenes Forum</a>.</p>
      <form method="post" action="{{ href('portal', 'error_report') }}">
        <p><label for="id_title">Ganz kurz, worum gehts:</label> <input id="id_title" size="50" name="title"/></p>
        <p>Details (dein Name und die Adresse der Seite wird automatisch mitgespeichert):</p>
        <p><textarea style="width: 100%;" rows="3" cols="100" name="text"></textarea></p>
        <p>
          <input type="hidden" name="url" value="{{ CURRENT_URL }}" />
          <input type="submit" value="Fehlermeldung speichern" />
          <input type="submit" name="hide" value="Ausblenden" />
        </p>
      </form>
    </div>
  </body>
</html>
