{#
    overall.html
    ~~~~~~~~~~~~

    This is the basic layout that is included by all templates.

    It contains the design elements that are displayed on all pages.

    :copyright: 2007-2008 by Benjamin Wiegand, Marian Sigler.
    :license: GNU GPL.
-#}
{{- XHTML_DTD }}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:cc="http://creativecommons.org/ns#"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:dc="http://purl.org/dc/elements/1.1/" xml:lang="de" lang="de" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ (title_trace|default([]) + ['ubuntuusers.de'])|join(' › ') }}</title>
    {%- block html_head %}
    {%- if deny_robots %}
    <meta name="robots" content="{% if deny_robots == true %}noindex, nofollow{% else %}{{ deny_robots }}{% endif %}" />
    {%- endif %}
    {#- This way the local stylesheets can override styles without problems. #}
    {%- set styles = ['main.css', 'markup.css'] + styles|default([]) -%}
    {%- for style in styles %}
    <link rel="stylesheet" type="text/css" href="{{ href('static', 'style', style) }}" />
    {%- endfor %}
    <link rel="stylesheet" type="text/css" href="{{ href('portal', 'markup.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ href('static', 'style', 'print.css') }}" media="print" />
    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="{{ href('static', 'style', 'ie.css') }}" /><![endif]-->
    {%- for title, url in feeds %}
    <link rel="alternate" href="{{ url|e }}" title="{{ title|e }}" type="application/atom+xml" />
    {%- endfor %}
    <link rel="shortcut icon" href="{{ href('static', 'img', 'favicon.ico') }}" />
    <link rel="search" type="application/opensearchdescription+xml" title="ubuntuusers" href="{{ href('portal', 'opensearch', 'portal') }}" /> 
    {%- for app in ('forum', 'wiki', 'ikhaya', 'planet') %}
    {%- if app == active_app %}
    <link rel="search" type="application/opensearchdescription+xml" title="ubuntuusers - {{ app|capitalize }}" href="{{ href('portal', 'opensearch', app) }}" /> 
    {%- endif -%}
    {%- endfor %}
    <script type="text/javascript">
    /*<![CDATA[*/
      var
        $STATIC_URL = {{ href('static')|jsonencode }},
        $MEDIA_URL = {{ href('media')|jsonencode }},
        $BASE_DOMAIN_NAME = {{ SETTINGS.BASE_DOMAIN_NAME|jsonencode }},
        $CURRENT_USER = {{ USER.username|jsonencode if USER.is_authenticated else 'null' }},
        $IS_LOGGED_IN = {{ USER.is_authenticated and 'true' or 'false' }},
        $SIDEBAR_HIDDEN = {{ USER.settings.sidebar_hidden and 'true' or 'false' }};
    /*]]>*/
    </script>
    {%- for script in ['jQuery.js', 'jQuery.Dimensions.js', 'jQuery.extensions.js',
                       'overall.js'] + scripts|default([]) %}
    <script type="text/javascript" src="{{ href('static', 'js/' + script) }}"></script>
    {%- endfor %}
    <!--[if lt IE 7.]><script defer type="text/javascript" src="{{ href('static', 'js/ie7.js') }}"></script><![endif]-->
    {%- endblock %}
  </head>
  <body>
   <div class="wrap"><div class="wrap2"><div class="wrap3"><div class="wrap4"><div class="wrap5">
    <div class="header">
      <h1><a href="/"><span>ubuntuusers.de</span></a></h1>
      <ul class="tabbar">
        {%- for app in ('portal', 'forum', 'wiki', 'ikhaya', 'planet') %}
        <li class="{{ app }}{% if app == active_app %} active{% endif
          %}"><a href="{{ href(app) }}">{{ app|capitalize }}</a></li>
        {%- endfor %}
      </ul>{# .tabbar #}
    </div>{# .header #}

    <div class="body">
      <div class="appheader">
        {%- if not hide_quicklinks %}
        <ul class="mod_navi">
          {%- if USER.can('manage_topics') %}
          {%- if report_count %}
          <li><strong><a href="{{ href('forum', 'reported_topics') }}">Gemeldete Themen ({{ report_count }})</a></strong></li>
          {%- else %}
          <li><a href="{{ href('forum', 'reported_topics') }}">Gemeldete Themen</a></li>
          {%- endif %}
          {%- endif %}
          {%- if USER.can('article_edit') %}
          {%- if suggestion_count %}
          <li><strong><a href="{{ href('ikhaya', 'suggestions') }}">Artikelvorschläge ({{ suggestion_count }})</a></strong></li>
          {%- else %}
          <li><a href="{{ href('ikhaya', 'suggestions') }}">Artikelvorschläge</a></li>
          {%- endif %}
          {%- endif %}
          {%- if USER.can('admin_panel') %}
          <li><a href="{{ href('admin') }}">Adminbereich</a></li>
          {%- endif %}
        </ul>
        <ul class="navi_global">
          {%- if USER.is_authenticated %}
          <li><a href="{{ href('portal', 'logout', next=CURRENT_URL) }}">Logout [{{ USER.username|e }}]</a></li>
          <li><a href="{{ href('portal', 'usercp') }}">Kontrollzentrum</a></li>
          <li>
            {%- if pm_count -%}
            <strong><a href="{{ href('portal', 'privmsg')}}">Private Nachrichten ({{ pm_count }})</a></strong>
            {%- else -%}
            <a href="{{ href('portal', 'privmsg') }}">Private Nachrichten</a>
            {%- endif -%}
          </li>
          {%- else %}
          <li><a href="{{ href('portal', 'login', next=CURRENT_URL) }}" id="login_link">Login</a></li>
          <li><a href="{{ href('portal', 'register') }}">Registrieren</a></li>
          {%- endif %}
        </ul>{# .navi_global #}
        {%- endif %}
        {% block appheader %}{% endblock %}
      </div>{# .appheader #}

      <div class="pathbar">

        <form action="{{ href('portal', 'search') }}" method="get" class="search"><div>
          <input type="text" name="query" class="search_query" value="{{ query|e }}" />
            {%- if topic %}
            <input type="hidden" name="topic_id" value="{{ topic.id }}" />
            {%- elif forum %}
            <input type="hidden" name="forum_id" value="{{ forum.id }}" />
            {%- endif %}
            <select name="area" class="search_area">
              <option value="all"{% if active_app == 'portal' %} selected="selected"{% endif %}>Überall</option>
              <option value="forum"{% if active_app == 'forum' %} selected="selected"{% endif %}>Forum</option>
              <option value="wiki"{% if active_app == 'wiki' %} selected="selected"{% endif %}>Wiki</option>
              <option value="ikhaya"{% if active_app == 'ikhaya' %} selected="selected"{% endif %}>Ikhaya</option>
              <option value="planet"{% if active_app == 'planet' %} selected="selected"{% endif %}>Planet</option>
            </select>
            <input type="submit" value="Suchen" class="search_submit" />
        </div></form>{# .search #}

        {%- if active_app == 'forum' %}
          <div class="dropdown">
            <ul class="dropdown"><li><a href="{{ href('portal', 'search', advanced=True) }}">Erweiterte Suche</a></li><li><ul>
              {%- if USER.is_authenticated %}
              <li><a href="{{ href('forum', 'egosearch') }}">Eigene Beiträge</a></li>
              <li><a href="{{ href('forum', 'topic_author', USER.username)|e }}">Eigene Themen</a></li>
              {%- endif %}
              <li><a href="{{ href('forum', 'newposts') }}">Neue Beiträge</a></li>
              <li><a href="{{ href('forum', 'unanswered') }}">Unbeantwortete Themen</a></li>
              <li><a href="{{ href('forum', 'unsolved') }}">Ungelöste Themen</a></li>
              <li><a href="{{ href('forum', 'last24') }}">24 Stunden</a></li>
              <li><a href="{{ href('forum', 'last12') }}">12 Stunden</a></li>
              <li><a href="{{ href('forum', 'last6') }}">6 Stunden</a></li>
            </ul></li></ul>
          </div>

          <div class="dropdown">
            <ul class="dropdown"><li><a href="#">Optionen</a></li><li><ul>
              <li><a href="{{ href('forum', 'markread') }}">Alle Foren als gelesen markieren</a></li>
            </ul></li></ul>
          </div>

        {%- elif active_app == 'wiki' %}
          <div class="dropdown">
            <ul class="dropdown"><li><a href="{{ href('portal', 'search') }}">Erweiterte Suche</a></li><li><ul>
              <li><a href="{{ href('wiki', 'Wiki', 'Letzte Änderungen') }}">Letzte Änderungen</a></li>
              <li><a href="{{ href('wiki', 'Wiki', 'Tags') }}">Tag-Wolke</a></li>
            </ul></li></ul>
          </div>
        {%- endif %}

        <p class="trace">{%- for link, title in [(href('portal'), 'ubuntuusers.de')] +
          navigation_trace|default([]) %}
          <a href="{{ link|e }}">
            {%- if loop.last %}<strong>{% endif -%}
            {{ title|truncate(35)|e }}
            {%- if loop.last %}</strong>{% endif -%}
            </a>{% if not loop.last
            %} »{% endif %}
        {%- endfor %}
        </p>

      </div>{# .pathbar #}

      {%- if GLOBAL_MESSAGE %}
      <div class="message global">{{ GLOBAL_MESSAGE }}</div>
      {%- endif %}

      {%- for message in MESSAGES %}
      <div class="message{% if message.success == true %} success{% elif message.success == false %} fail{% endif %}">
        {{ message.text }}
      </div>
      {%- endfor %}

      <div class="page_content">
        {% set tabbar = navi_type in ['tabbar', 'both'] %}
        {% set sidebar = navi_type in ['sidebar', 'both'] %}
        {%- if tabbar %}
        <div class="navi_tabbar navigation">
          {%- block tabbar %}{% endblock -%}
        </div>
        {%- endif %}
        {%- if sidebar %}
        <div class="navi_sidebar navigation">
          {%- block sidebar %}{% endblock -%}
        </div>
        {%- endif %}        
        <div class="content{{ tabbar and ' content_tabbar' or '' }}{{ sidebar and ' content_sidebar' or '' }}">
          {%- block content %}{% endblock -%}
        </div>
      </div>
      <div style="clear: both"></div>
    </div>

    <div class="footer">
      <ul>
        <li class="poweredby">
          <a href="{{ href('portal', 'inyoka')|e }}">Inyoka</a> unter der Haube<br />
          {%- if INYOKA_REVISION %}
          inyoka rev-{{ INYOKA_REVISION }}
          {%- else %}
          inyoka revision unavailable
          {%- endif %}
          (<a href="{{ href('wiki', 'ubuntuusers/Fehler melden') }}">Fehler in Inyoka melden</a>)
        </li>
        <li class="license">
          <img src="{{ href('static', 'img/copyleft.png') }}" alt="Copyleft" />
          2004 – 2010 ubuntuusers.de • Einige Rechte vorbehalten<br />
          <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/de/deed.de" rel="license">CC</a>
          <a href="{{ href('portal', 'lizenz') }}" rel="cc:morePermissions">Lizenz</a> •
          <a href="{{ href('portal', 'kontakt') }}">Kontakt</a> •
          <a href="{{ href('portal', 'datenschutz') }}">Datenschutz</a> •
          <a href="{{ href('portal', 'impressum') }}">Impressum</a>
        </li>
        <li class="housing">
          <span title="Unterbringung und Netzanbindung eines Servers">Serverhousing</span> gespendet von<br />
          <a href="http://www.noris.de/"><img src="{{ href('static', 'img/noris_logo.png') }}" alt="noris network" /></a>
        </li>
      </ul>
    </div>{# .footer #}
   </div></div></div></div></div>
    {%- if not USER.is_authenticated %}
    <form action="{{ href('portal', 'login', next=CURRENT_URL) }}" method="post" id="js_login_form">
      <div>
        <label for="js_login_username">Benutzername</label>
        <input name="username" id="js_login_username" />
        <label for="js_login_password">Passwort</label>
        <input type="password" name="password" id="js_login_password" />
        <label for="js_login_permanent" title="Wähle dies nicht aus, wenn du dich von einem öffentlichen Computer aus anmeldest">dauerhaft?</label>
        <input type="checkbox" name="permanent" id="js_login_permanent" />
        <a href="{{ href('portal', 'lost_password') }}">Passwort vergessen?</a>
        <input type="submit" value="Login" class="submit" />
        <input type="hidden" name="redirect" value="{{ CURRENT_URL|e }}" />
      </div>
    </form>
    {%- endif %}
  </body>
</html>
