{#
    wiki/action_edit.html
    ~~~~~~~~~~~~~~~~~~~~~

    This template is used if a user edits a page.

    :copyright: 2007 by Armin Ronacher.
    :license: GNU GPL.
#}


{% extends 'wiki/page.html' %}
{% title = page.title if page else name %}
{% title_trace = [title|e, 'Bearbeiten'] %}
{% scripts = ['WikiEditor.js'] %}
{% styles = ['editor.css'] %}
{% action = 'edit' %}
{% block wiki_content %}
  <form enctype="multipart/form-data" action="?action=edit" method="post">
    <div class="editor">{{ form.text }}</div>
    <p>Änderungsnotiz: {{ form.note }}</p>
    {{ h.field_errors(form.errors.text) }}
    {{ h.field_errors(form.errors.__all__) }}
    <div class="actions">
      <input type="hidden" name="edit_time" value="{{ edit_time }}" />
      <input type="hidden" name="rev" value="{{ rev }}" />
      <input type="submit" value="Speichern" />
      <input type="submit" name="preview" value="Vorschau" />
      <input type="submit" name="cancel" value="Abbrechen" />
    </div>
  </form>
  {%- if preview %}
  <h2>Vorschau</h2>
  <div class="preview">{{ preview }}</div>
  {%- endif %}
  <script type="text/javascript">
    /*<![CDATA[*/
      new WikiEditor('textarea[@name="text"]', 'wiki');

      (function() {
        var
          editor = $('textarea[@name="text"]'),
          output = $('<div class="preview"></div>');
        var preview = $('<div></div>')
          .hide()
          .append('<h2>Vorschau</h2>')
          .append(output);

        $('form input[@name="preview"]').click(function() {
          preview.hide();
          $.post('/?__service__=wiki.render_preview', {
            text: editor.val()
          }, function(data) {
            output.html(data);
            preview.slideDown('fast');
          });
          return false;
        }).parent().parent().append(preview);
      })();
    /*]]>*/
  </script>
{% endblock %}
