{#
    wiki/page.html
    ~~~~~~~~~~~~~~

    This is the base layout for all wiki detail pages except of partial
    templates (prefixed with an underscore)

    :copyright: 2007 by Armin Ronacher.
    :license: GNU GPL.
#}
{% extends 'overall.html' %}

{% title_trace = title_trace|default([]) + ['Wiki'] %}
{% page_trace = [] %}
{% if page and not page.is_main_page %}
  {% for part in page.name.split %}
    {% page_trace.append(('%s/%s'|format(page_trace[-1][0], part), part)) %}
  {% endfor %}
{% endif %}
{% navigation_trace = [(href('wiki'), 'Wiki')] + page_trace + navigation_trace|default([]) %}
{% styles = styles|default([]) + ['wiki.css', 'highlight.css'] %}
{% active_app = 'wiki' %}
{% navi_type  = 'tabbar' %}

{% block appheader %}
  <h1>Wiki</h1>
  <h2>{{ title_trace[:-1]|join(' » ') }}</h2>
{% endblock %}

{% block tabbar %}
  {% if can.read %}
  <ul>
    <li><a href="?action=show"{{ action == 'show' and ' class="active"' or '' }}>Artikel</a></li>
    {%- if can.edit %}
    <li><a href="?action=edit"{{ action == 'edit' and ' class="active"' or '' }}>Bearbeiten</a></li>
    {%- endif %}
    <li><a href="?action=log"{{ action == 'log' and ' class="active"' or '' }}>Versionen</a></li>
    <li><a href="?action=backlinks"{{ action == 'backlinks' and ' class="active"' or '' }}>Backlinks</a></li>
    <li><a href="{{ page.topic and page.topic|url or href('forum', 'new_discussion', page.title) }}">Diskussion</a></li>
    <li><a href="?action=subscribe">{% if is_subscribed %}De-Abonnieren{% else %}Abonnieren{% endif %}</a></li>
    <li><a href="?action=manage"{{ action == 'manage' and ' class="active"' or '' }}>Weitere Aktionen</a></li>
  </ul>
  {% endif %}
{% endblock %}

{% block content %}
  {%- block wiki_content %}

  {%- endblock %}
{%- endblock %}
